<%= render(partial: 'shared/navigation', locals: {title: "METADATA CURATION: COLLECTION DETAIL"}) %>

<div class="ingest_box">

  <div class="space_box"></div>

  <div class="box_title">
    <p><strong>New Collection Data:</strong></p>
  </div>

    <table cellpadding="5" border="1">
          <tr>
              <td>Concept_ID</td>
              <td>Revision_ID</td>
              <td>ShortName</td>
          </tr>
          <tr>
              <td><%= @concept_id %></td>
              <td><%= @revision_id %></td>
              <td><%= @short_name %></td>
          </tr>
    </table>

    <div class="ingest_state">
      <% unless @already_ingested %>
        <% if @granule_count < 3 %>
          <% if @granule_count < 1 %>
            <p>No Granules Associated with This Collection</p>
            <%= form_tag( collections_path ,  {method: "post", id: "collection_form"}) do %>
              <%= hidden_field_tag(:concept_id, @concept_id) %>
              <%= hidden_field_tag(:revision_id, @revision_id) %>
              <%= submit_tag("Ingest Collection Without Granule", id: 'ingest_submit') %>
            <% end %>
          <% else %>
            <p>Total Granules in this Collection: <%= @granule_count %></p>
            <%= form_tag( collections_path ,  {method: "post", id: "collection_form"}) do %>
              <%= hidden_field_tag(:concept_id, @concept_id) %>
              <%= hidden_field_tag(:revision_id, @revision_id) %>
              <%= hidden_field_tag(:granulesCount, '1') %>
              <%= submit_tag("Ingest Collection With Granule", id: 'ingest_submit') %>
            <% end %>
          <% end %>
        <% else %>
          <p>Total Granules in this Collection: <%= @granule_count %></p>
          <%= form_tag( collections_path ,  {method: "post", id: "collection_form"}) do %>
              <%= hidden_field_tag(:concept_id, @concept_id) %>
              <%= hidden_field_tag(:revision_id, @revision_id) %>
              <%= hidden_field_tag(:granulesCount, '1') %>
              <%= submit_tag("Ingest Collection With Granule", id: 'ingest_submit') %>
          <% end %>
        <% end %>
      <% else %>
        <p>This record has already been ingested into the system for review</p>
      <% end %>  
    </div>  

</div>



<script type="text/javascript">
  document.getElementById('ingest_submit').onclick = function() {

    // document.getElementById('processing-modal').style.visibility = "visible";
    document.getElementById('ingest_submit').value = "Processing Record Ingest";
    document.getElementById('ingest_submit').disabled = true;
    document.forms["collection_form"].submit();

    showLoading("Processing Record Ingest");
  };
</script>


<style type="text/css">
  .modal-static { 
    position: fixed;
    top: 60% !important; 
    left: 15% !important; 
    margin-top: -100px;  
    margin-left: -100px; 
    overflow: visible !important;
}
.modal-static,
.modal-static .modal-dialog,
.modal-static .modal-content {
    width: 200px; 
    height: 200px; 
}
.modal-static .modal-dialog,
.modal-static .modal-content {
    padding: 0 !important; 
    margin: 0 !important;
}
.modal-static .modal-content .icon {
}
</style>
