<%= render(partial: 'shared/navigation', locals: {title: "METADATA CURATION: COLLECTION"}) %>

<div class="record_show_box">
  <div class="space_box"></div>

  <div class="collection_title">
    <h3>Concept ID: <%= @concept_id %></h3>
    <h3>Short Name: <%= @collection_records.first.recordable.short_name %></h3> 
    <h3>Format: <%= @collection_records.first.format %></h3> 
  </div>
  
  <div class="space_box"></div>

  <div class="group_box left_box">

      <h3>Collection Revisions</h3>
      <% @collection_records.each_with_index do |record, index| %>

      <table cellpadding="5" border="1">

        <tr>
          <th>
            <h4>Revision ID: <%= record.revision_id %></h4>
          </th>
        </tr>

        <tr>
          <td>
                <table cellpadding="5" border="1">
                    <tr>
                        <td>Reviewer</td>
                        <td>Status</td>
                        <td>Completion Date</td>
                    </tr>


                  <% record.reviews.each do |review| %>
                    <tr>
                        <td><%= review.user.email %></td>
                        <td><%= review.state_string %></td>
                        <td><%= review.formatted_date %></td>
                    </tr>

                  <% end %>
                </table>

            <div class="review_actions">

              <div class="ingest_score">
                <p>Collection Review Status: <%= record.closed? ? "Closed" : "In Process" %></p>  
              </div>

              <button id="review_details_button<%=index%>" class="smallSelectButton">
                <p>See Collection Review Details</p>
              </button>
              <script type="text/javascript">
                document.getElementById("review_details_button<%=index%>").onclick = function() {
                  document.location.href = "<%= record_path(id:record.id) %>"
                };
              </script>
            </div>    
 
          </td>
        </tr>

      </table>
      <% end %>

  </div>
  
  <% if @granule_objects.count > 0 %>
    <div class="group_box">
      <h3>Granules</h3>
        <% @granule_objects.each_with_index do |granule, index| %>
          <% granule.records.each do |granule_record| %>
            <table cellpadding="5" border="1">

              <tr>
                <th>
                  <h4>Concept ID: <%= granule_record.concept_id %></h4>
                </th>
              </tr>

              <tr>
                <td>
                  <table cellpadding="5" border="1">
                      <tr>
                          <td>Reviewer</td>
                          <td>Status</td>
                          <td>Completion Date</td>
                      </tr>


                    <% granule_record.reviews.each do |review| %>
                      <tr>
                          <td><%= review.user.email %></td>
                          <td><%= review.state_string %></td>
                          <td><%= review.formatted_date %></td>
                      </tr>

                    <% end %>
                  </table>

                  <div class="review_actions">
                    <div class="ingest_score">
                      <p>Granule Review Status: <%= granule_record.closed? ? "Closed" : "In Process" %></p>  
                    </div>

                    <button id="granule_details_button<%=index%>" class="smallSelectButton">
                      <p>See Granule Review Details</p>
                    </button>
                    <script type="text/javascript">
                      document.getElementById("granule_details_button<%=index%>").onclick = function() {
                        document.location.href = "<%= record_path(id:granule_record.id) %>"
                      };
                    </script>
                    <% if granule_record.open? && can?(:refresh_granule, granule_record.recordable) %>
                      <%= button_to "Ingest Different Granule", refresh_granule_path(granule_record.recordable_id, record_id: granule_record.id), method: :delete, class: "smallSelectButton" %>
                    <% end %>
                  </div>
                </td>
              </tr>

            </table>
          <% end %>  
        <% end %>

    </div>
  <% else %>
    <div class="group_box no_results">
      <h3>NO GRANULES AVAILABLE</h3>
    </div>
  <% end %>
</div>
