<%= render(partial: 'shared/navigation', locals: {title: "METADATA CURATION: COLLECTION"}) %>

<div class="record_show_box">
  <div class="space_box"></div>

  <div class="collection_title">
    <h3>Concept ID: <%= @concept_id %></h3>
    <h3>Short Name: <%= @collection_records.first.recordable.short_name %></h3>
    <h3>Format: <%= @collection_records.first.format %></h3>
  </div>

  <div class="space_box"></div>

  <div class="group_box left_box">

      <h3>Collection Revisions</h3>
      <% @collection_records.each_with_index do |record, index| %>

      <table cellpadding="5" border="1">

        <tr>
          <th>
            <h4>Revision ID: <%= record.revision_id %></h4>
          </th>
        </tr>

        <tr>
          <td>
                <table cellpadding="5" border="1">
                    <tr>
                        <td>Reviewer</td>
                        <td>Status</td>
                        <td>Completion Date</td>
                    </tr>


                  <% record.reviews.each do |review| %>
                    <tr>
                        <td><%= review.user.email %></td>
                        <td><%= review.state_string %></td>
                        <td><%= review.formatted_date %></td>
                    </tr>

                  <% end %>
                </table>

            <div class="review_actions">

              <div class="ingest_score">
                <p>Collection Review Status: <%= record.closed? || record.finished? ? "Closed" : "In Process" %></p>
              </div>

              <%= button_to "See Collection Review Details", record_path(record.id), class: "smallSelectButton", method: :get %>
            </div>

          </td>
        </tr>

      </table>
      <% end %>

  </div>

  <% if @granule_objects.count > 0%>
    <div class="group_box">
      <div>
        <% if can?(:create_granule, @granule_objects.first.collection) %>
          <h3>
            Granules
            <%= button_to "Ingest New Random Granule", granules_path(:id => @granule_objects.first.collection.id), method: :post, class: "smallSelectButton", id: "ingest_create", form_class: "ingest_new_granule", data: { confirm: "Are you sure?" } %>
          </h3>
        <% end %>
      </div>
      <% @granule_objects.each_with_index do |granule, index| %>
          <% granule.records.each do |granule_record| %>
            <table cellpadding="5" border="1">

              <tr>
                <th>
                  <h4>
                    <div>Concept ID: <%= granule_record.concept_id %>
                      <span class="indicator_for_granule_deleted_in_cmr"><%= indicator_for_granule_deleted_in_cmr(granule) %></span>
                    </div>
                    <div>Revision_ID: <%= granule_record.revision_id %>
                      <span class="indicator_for_has_new_granule_revision"><%= indicator_for_has_new_granule_revision(granule) %></span>
                    </div>
                  </h4>
                </th>
              </tr>

              <tr>
                <td>
                  <table cellpadding="5" border="1">
                      <tr>
                          <td>Reviewer</td>
                          <td>Status</td>
                          <td>Completion Date</td>
                      </tr>


                    <% granule_record.reviews.each do |review| %>
                      <tr>
                          <td><%= review.user.email %></td>
                          <td><%= review.state_string %></td>
                          <td><%= review.formatted_date %></td>
                      </tr>

                    <% end %>
                  </table>

                  <div class="review_actions">
                    <div class="ingest_score">
                      <p>Granule Review Status: <%= granule_record.closed? ? "Closed" : "In Process" %></p>
                    </div>

                    <div>
                      <div id="granule_review_link">
                        <%= button_to "See Granule Review Details", record_path(granule_record.id), class: "smallSelectButton", method: :get %>
                      </div>
                      <div>
                        <% if can?(:delete_granule, granule_record.recordable) %>
                          <%= button_to "Delete Granule", granule_path(granule_record.recordable_id, record_id: granule_record.id), method: :delete, class: "smallSelectButton", id: "delete_granule", data: { confirm: "Are you sure?" } %>
                        <% end %>
                      </div>
                    </div>
                </div>
                </td>
              </tr>

            </table>
          <% end %>
        <% end %>

    </div>
  <% else %>

    <div class="group_box">
      <div>
        <% if can?(:create_granule, @record.recordable) %>
          <h3>
            Granules
            <%= button_to "Ingest New Random Granule", granule_path(:id => @record.recordable.id), method: :post, class: "smallSelectButton", id: "ingest_create", form_class: "ingest_new_granule", data: { confirm: "Are you sure?" } %>
          </h3>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
