<%= form_tag(gkr_keyword_comparison_path, method: "get") do %>
    <%= label_tag :concept_id %><br>
    <%= text_field_tag :Concept_ID %>
    <br>
    <br>
    <%= label_tag :threshold %><br>
    <%= text_field_tag :Threshold %>
    <p>
        <%= submit_tag("Submit") %>
    </p>
<% end %>