<%= form_with(url: submitting_concept_path, method: :post, local:true) do |form| %>
  <%= form.label :concept_id, "Concept ID:" %>
  <%= form.text_field :concept_id %>
  <br>
  <br>
  <%= form.label :threshold, "Threshold:" %>
  <%= form.text_field :threshold %>
  <br>
  <br>
  <%= form.submit "Submit" %>
  <br>
  <br>
<% end %>
<br>
<br>
<h1 style='color: white'> Abstract: </h1>
<p style='color: white'> <%= @abstract %> </p>

<% if @cmr_keywords != nil then %>
  <h1 style='color: white'> Keywords: </h1>
  <% @cmr_keywords.each do |keyword| %>
    <p style='color: white'> <%= keyword %> </p>
  <% end %>
<% end %>



