<%= render(partial: 'shared/navigation', locals: {title: "METADATA CURATION: EDIT ACCOUNT"}) %> 

<div class="log_in_box">
  <div class="edit_password_box">
    <div class="space_box"></div>

    <div class="box_tab">
      EDIT ACCOUNT
    </div>

    <div class="form_box">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <div>
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div >
          <%= f.label :password %> <i>(leave blank for no change)</i><br />
          <%= f.password_field :password, autocomplete: "off" %>
          <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>

        <div >
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>

        <div>
           <%= f.label :current_password %> <i>(enter to confirm changes)</i><br />
          <%= f.password_field :current_password, autocomplete: "off" %>
        </div>
        
        <div class="form_buttons">
          <div class="form_buttons">
            <%= f.submit("Update", class: 'selectButton') %>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>
