<%= render(partial: 'shared/navigation', locals: {title: "METADATA CURATION: UPDATE PASSWORD"}) %> 

<div class="sign_up_box">
  <div class="space_box"></div>

  <div class="box_tab">
    UPDATE PASSWORD
  </div>

  <div class="form_box">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <div class="">
        <%= f.email_field :email, autofocus: true, placeholder: "Email Address" %>
      </div>

      <div >
        <%= f.password_field :current_password, autocomplete: "off", placeholder: "Current Password" %>
      </div>      

      <div >
        <% if @minimum_password_length %>
          <% min_pass = " - " + @minimum_password_length.to_s +  " characters minimum" %>
        <% else %>
          <% min_pass = "" %>
        <% end %>
        <%= f.password_field :password, autocomplete: "off", placeholder: "New Password" + min_pass  %>
      </div>

      <div >
        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "New Password Confirmation" %>
      </div>
      

      <div class="form_buttons">
        <div class="form_buttons">
          <%= f.submit "Update Password" %>
        </div>
      </div>
    <% end %>
  </div>

</div>