<h1>Curation Home Page</h1>
<p>Current User: <%= current_user.email %></p>
<%= link_to "Search the CMR Database", curation_search_path %>

<br>

<p>Your Uncompleted Ingests:</p>

<table cellpadding="5" border="1">
    <tr>
        <td>Concept_ID</td>
        <td>Revision_ID</td>
        <td>ShortName</td>
        <td>Selection</td>
    </tr>


  <% @user_open_ingests.each_with_index do |record, index| %>
    <tr>
        <td id="concept<%= index.to_s %>"><%= record.concept_id %></td>
        <td><%= record.version_id %></td>
        <td><%= record.short_name %></td>
        <td><input type="radio" id="search<%= index.to_s %>" name="searchSelection" value="<%= index.to_s %>"/></td>
    </tr>
  <% end %>
</table>

<br>

<p>Your Unfinished Reviews:</p>

<table cellpadding="5" border="1">
    <tr>
        <td>Concept_ID</td>
        <td>Revision_ID</td>
        <td>ShortName</td>
        <td>Selection</td>
    </tr>


  <% @user_open_reviews.each_with_index do |record, index| %>
    <tr>
        <td id="concept<%= index.to_s %>"><%= record.concept_id %></td>
        <td><%= record.version_id %></td>
        <td><%= record.short_name %></td>
        <td><input type="radio" id="search<%= index.to_s %>" name="searchSelection" value="<%= index.to_s %>"/></td>
    </tr>
  <% end %>
</table>

<br>

<p>Records Available For Review:</p>

<table cellpadding="5" border="1">
    <tr>
        <td>Concept_ID</td>
        <td>Revision_ID</td>
        <td>ShortName</td>
        <td>Selection</td>
    </tr>


  <% @user_available_reviews.each_with_index do |record, index| %>
    <tr>
        <td id="concept<%= index.to_s %>"><%= record.concept_id %></td>
        <td><%= record.version_id %></td>
        <td><%= record.short_name %></td>
        <td><input type="radio" id="search<%= index.to_s %>" name="searchSelection" value="<%= index.to_s %>"/></td>
    </tr>
  <% end %>
</table>