<%= render(partial: 'shared/navigation', locals: { title: "METADATA CURATION: UPDATE EMAIL" }) %>

<div class="log_in_box">
  <div class="edit_password_box">
    <div class="space_box"></div>

    <div class="box_tab">
      UPDATE EMAIL
    </div>

    <div class="form_box">
      <%= form_for current_user, url: users_email_path do |f| %>
        <div >
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "off", placeholder: "New Email", required: true %>
        </div>      
        
        <div class="form_buttons">
          <div class="form_buttons">
            <%= f.submit("Update Email", class: 'selectButton') %>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>
