<div class="page_header">
  <div class="header_title"> 
    <h3>METADATA CURATION: RESET PASSWORD</h3>
  </div>
</div>

<div class="header_image"></div>  

<div class="log_in_box">

  <div class="box_tab">
    RESET
  </div>

  <div class="form_box">
    
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <p class='password-reset-callout'>
        Enter your email and we'll send you instructions for resetting your password.
      </p>

      <div>
        <%= f.email_field :email, autofocus: true, placeholder: "Email" %>
      </div>

      <%= f.submit "Submit", class: 'selectButton' %>
      
    <% end %>

  </div>

  <div class='devise-links'>
    <%= render "devise/shared/links" %>
  </div>

</div>

