<div class="page_header">
  <div class="header_title">
    <h3><%= title %> <%= get_environment_display_name %></h3>
    <% if current_user.admin %>
      <p>CMR Last Update: <%= RecordsUpdateLock.formatted_last_update %></p>
    <% end %>
  </div>

  <div class="header_menu">
    <nav class="eui-menu menu_override">
      <ul>
        <li>
          <%= link_to home_path, class: "menu_link header_button" do %>
            <i class="eui-icon eui-fa-globe"></i>
            <p>Curation Home</p>
          <% end %>
        </li>
        <li>
          <%= link_to finished_records_path, class: "menu_link header_button" do %>
            <i class="fa fa-times-circle"></i>
            <p>Closed Records</p>
          <% end %>
        </li>
        <li>
          <%= link_to reports_home_path, class: "menu_link header_button" do %>
            <i class="fa fa-bar-chart"></i>
            <p>Reports</p>
          <% end %>
          <ul class="eui-sub-menu">
            <li><%= link_to "Overall Report", reports_home_path %></li>
            <li><%= link_to "Reports By DAAC", reports_provider_path %></li>
            <li><%= link_to "Reports By Selection", reports_search_path %></li>
          </ul>
        </li>

        <% if current_user.admin %>
          <li>
            <%= link_to "#", class: "menu_link header_button" do %>
              <i class="fa fa-sliders"></i>
              <p>Account Options</p>
            <% end %>
            <ul class="eui-sub-menu">
              <li id="record_refresh"><%= link_to "Refresh Records", record_refresh_path %></li>
            </ul>
          </li>
        <% end %>

        <li>
          <%= link_to destroy_user_session_path, class: "menu_link header_button" do %>
            <i class="eui-icon eui-fa-external-link-square"></i>
            <p>Logout</p>
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
</div>

<div class="header_image">

</div>
