<div class="page_header">
  <div class="header_title"> 
    <h3><%= title %></h3>
  </div>

  <div class="header_menu">
    <nav class="eui-menu menu_override">
      <ul>
        <li>
          <a href="<%= home_path %>" class="menu_link header_button">
            <i class="eui-icon eui-fa-globe"></i>
            <p>Curation Home</p>
          </a>
        </li>
        <li>
          <a href="<%=reports_home_path%>" class="menu_link header_button">
            <i class="fa fa-bar-chart"></i>
            <p>Reports</p>
          </a>
          <ul class="eui-sub-menu">
            <li><a href="<%=reports_home_path%>">Reports Home</a></li>
            <li><a href="<%=reports_provider_path%>">Reports By DAAC</a></li>
            <li><a href="<%=reports_search_path%>">Reports By Selection</a></li>
          </ul>
        </li>
        <li>
          <a href="#" class="menu_link header_button">
            <i class="fa fa-sliders"></i>
            <p>Account Options</p>
          </a>
          <ul class="eui-sub-menu">
            <li><a href="<%=edit_user_registration_path%>">Change Password</a></li>
            <% if current_user.admin %>
              <li><a href="<%=new_user_registration_path%>">Create User</a></li>
              <li id="record_refresh"><a href="<%=record_refresh_path%>">Refresh Records</a></li>

              <script type="text/javascript">
                document.getElementById("record_refresh").onclick = function() {
                  var processingModal = document.createElement("p");
                  processingModal.innerHTML = "Refreshing Records From CMR<br/>";
                  processingModal.innerHTML += "<i class=\"fa fa\-refresh fa\-spin fa\-3x fa\-fw\"><\/i>";
                  processingModal.className += " processing_modal";
                  document.body.append(processingModal);

                  var processingModalCover = document.createElement("div");
                  processingModalCover.className += " processing_modal_cover";
                  document.body.append(processingModalCover);
                }
              </script>
            <% end %>
          </ul>
        </li>  
        <li>
          <a href="<%= destroy_user_session_path %>" class="menu_link header_button">
            <i class="eui-icon eui-fa-external-link-square"></i>
            <p>Logout</p>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<div class="header_image">
  
</div> 