<div class="page_header">
  <div class="header_title"> 
    <h3><%= title %></h3>
  </div>
</div>

<nav class="eui-menu">
  <ul>
    <li>
      <a href="<%= home_path %>" class="header_button">
        <i style="display: inline-block;" class="eui-icon eui-fa-globe"></i>
        <p style="display: inline-block;">Curation Home</p>
      </a>
    </li>
    <li><a href="#">Reports</a>
      <ul class="eui-sub-menu">
        <li><a href="<%=reports_home_path%>">Reports Home</a></li>
        <li><a href="<%=reports_provider_path%>">Reports By DAAC</a></li>
      </ul>
    </li>
    <% if current_user.admin %>
      <li>
        <a href="<%= new_user_registration_path %>" class="header_button">
          <i class="eui-icon eui-fa-circle-o"></i>
          <p>Create User</p>
        </a>
      </li>
    <% end %>
    <li>
      <a href="<%= destroy_user_session_path %>" class="header_button">
        <i class="eui-icon eui-fa-external-link-square"></i>
        <p>Logout</p>
      </a>
    </li>
  </ul>
</nav>


<div class="header_image">
  
</div> 