<div class="page_header">
  <div class="header_title"> 
    <h3><%= title %></h3>
  </div>

  <div class="header_button_box">
      <a id="record_refresh" href="<%= record_refresh_path %>">
        <button id="curation_home_button" class="header_icon_button">
          <i class="eui-icon eui-fa-globe"></i>
          <p>REFRESH RECORDS</p>
        </button>
      </a>

      <script type="text/javascript">
        document.getElementById("record_refresh").onclick = function() {
          var processingModal = document.createElement("p");
          processingModal.innerHTML = "refreshing records";
          processingModal.style.position = "absolute";
          processingModal.style.top = "0px";
          processingModal.style.left = "0px";
          document.body.append(processingModal);
        }
      </script>

      <a href="<%= home_path %>">
        <button id="curation_home_button" class="header_icon_button">
          <i class="eui-icon eui-fa-globe"></i>
          <p>CURATION HOME</p>
        </button>
      </a>

      <% if current_user.admin %>
        <a href="<%= new_user_registration_path %>">
            <button id="create_user_button" class="header_icon_button">
              <i class="eui-icon eui-fa-circle-o"></i>
              <p>CREATE USER</p>
            </button>
        </a>
      <% end %>

      <a href="<%= destroy_user_session_path %>">
        <button id="logout_button" class="header_icon_button">
          <i class="eui-icon eui-fa-external-link-square"></i>
          <p>LOGOUT</p>
        </button>
      </a>

      <button class="header_icon_button">
        <i class="eui-icon eui-fa-question-circle"></i>
        <p>HELP</p>
      </button>
  </div>
  <div class="clear_box"></div>
</div>


<div class="header_image">
  
</div> 