<div class="page_header">
  <div class="header_title">
    <h3><%= title %> <%= get_environment_display_name %></h3>
    <% if current_user.admin? %>
      <p>CMR Last Update: <%= RecordsUpdateLock.formatted_last_update %></p>
    <% end %>
  </div>

  <div class="header_menu">
  <section id="user-info">
      <div class="prof-link-container">
          <div><strong><%= current_user.name %></strong>
            <span class="eui-badge--sm daac"><%= current_user.role %></span>
          </div>
      </div>
  </section>
    <nav class="eui-menu menu_override">
      <ul>
        <li>
          <%= link_to home_path, class: "menu_link header_button" do %>
            <i class="eui-icon eui-fa-globe"></i>
            <p>Curation Home</p>
          <% end %>
        </li>
        <li>
          <%= link_to finished_records_path, class: "menu_link header_button" do %>
            <i class="fa fa-times-circle"></i>
            <p>Closed Records</p>
          <% end %>
        </li>
        <li>
          <%= link_to reports_home_path, class: "menu_link header_button" do %>
            <i class="fa fa-bar-chart"></i>
            <p>Reports</p>
          <% end %>
          <ul class="eui-sub-menu">
            <li><%= link_to "Overall Report", reports_home_path %></li>
            <li><%= link_to "Reports By DAAC", reports_provider_path %></li>
            <li><%= link_to "Reports By Selection", reports_search_path %></li>
            <li><%= link_to "Download CSV of Invalid Keywords", invalid_keywords_csv_report_path(format: :csv, provider: current_user.daac_curator? ? current_user.daac : nil
            ), data: {turbolinks: false} %>
          </ul>
        </li>

        <% if current_user.admin? || (Rails.configuration.email_preference_feature_toggle && current_user.daac_curator?) %>
          <li>
            <%= link_to "#", class: "menu_link header_button account_options" do %>
              <i class="fa fa-sliders"></i>
              <p>Account Options</p>
            <% end %>
              <ul class="eui-sub-menu">
                <% if current_user.admin? %>
                  <li id="record_refresh"><%= link_to "Refresh Records", record_refresh_path %></li>
                <% end %>
                <% if current_user.daac_curator? %>
                  <li id="email_preferences"><%= link_to "E-mail Preferences", email_preferences_path %></li>
                <% end %>
              </ul>
          </li>
        <% end %>

        <li>
        <%= link_to "https://wiki.earthdata.nasa.gov/display/ED/CMR+Metadata+Curation+Dashboard+User+Documentation", class: "menu_link header_button", target: "_blank" do %>
          <i class="fa fa-question-circle"></i>
          <p>User&apos;s Guide</p>
        <% end %>
        </li>

        <li>
          <%= link_to destroy_user_session_path, method: :get, class: "menu_link header_button" do %>
            <i class="eui-icon eui-fa-external-link-square"></i>
            <p>Logout</p>
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
</div>

<div class="header_image">

</div>

<%= render(partial: 'shared/notice_message') %>
