<% path_for_form ||= home_path %>

<div class="record_filters searchbox_area">
  <p><strong>Filter Records:</strong></p>
  <%= form_with( url: path_for_form, method: "get", local: true) do %>
    <div class="record_filters__filters">
      <% if can?(:access, :filter_daac) %>
        <div class="record_filters__select">
          <%= label_tag(:daac, "DAAC") %>
          <%= select_tag(:daac, options_for_select(provider_select_list, selected: params[:daac])) %>
        </div>
      <% end %>

      <div class="record_filters__select">
        <span style="font-weight: bold">Campaign/Project</span>
        <%= select_tag(:campaign, options_for_select(campaign_select_list(form: path_for_form), selected: params[:campaign]), style: "width:190px") %>
      </div>
      <div class="record_filters__select">
        <label for="freetext">Freetext</label>
        <input type="search" name="freetext" id="freetext" class="freetext" style="width: 200px;" value="<%=params[:freetext]%>"/>
      </div>


      <%= submit_tag("Filter", class: "selectButton") %>

    </div>
    
  <% end %>

</div>
