<% closed ||= false %>
<% reviews ||= false %>

<div class="table_backdrop">
  <div class="results_title">
    <p><strong><%= title %>:</strong></p>
  </div>
  <%= form_tag(collection_path(id: 1), method: :put, id: form_id) do %>
    <div class="results_table">
      <div class="table_scroll">
        <table cellpadding="5" border="1">
          <tr>
            <th>Concept_ID</th>
            <th>Type</th>
            <th class="center_text">Revision_ID</th>
            <th>ShortName</th>
            <th class="center_text">Version</th>
            <th>Ingested By</th>
            <% if reviews %>
              <th class="center_text"># Completed Reviews</th>
              <th class="center_text"># Second Reviews Requested</th>
            <% end %>
            <% if closed %>
              <th>Date Review Closed</th>
            <% end %>
            <th>Selection</th>
          </tr>

          <% records.each do |record| %>
            <tr>
              <td><%= record.concept_id %></td>
              <td><%= record.recordable_type %></td>
              <td class="center_text"><%= record.revision_id %></td>
              <td><%= record.recordable.short_name %></td>
              <td class="center_text"><%= record.version_id %></td>
              <td><%= record.ingested_by %></td>
              <% if closed %>
                <td><%= record.formatted_closed_date %></td>
              <% end %>
              <% if reviews %>
                <td class="center_text"><%= record.completed_review_count %></td>
                <td class="center_text"><%= record.second_opinion_count %></td>
              <% end %>

              <td class="center_text"><%= check_box_tag("record_id[]", record.id) %></td>
              
            </tr>
          <% end %>
        </table>
      </div>

      <br>

      <%= content_for :form_buttons %>
    </div>
  <% end %>
</div>
