<% report ||= false %>
<% close ||= false %>

<div class="navigate_buttons">
  <%= submit_tag("See Review Detail", class: "selectButton", disabled: true) %>

  <% if close %>
    <%= submit_tag("Close", class: "closeButton", formaction: batch_complete_records_path, disabled: true, data: { confirm: "Close the selected Record(s)?" }) %>
  <% end %>

  <% if current_user.admin %>
    <%= submit_tag("Delete Record", class: "deleteButton", formaction: hide_records_path, disabled: true, data: { confirm: "Delete this Record from the System?"}) %>
  <% end %>

  <% if report %>
    <%= submit_tag("Get Review Report", class: "reportButton", formaction: reports_single_path, disabled: true) %>
  <% end %>

  <%= yield %>
</div>
