<% path_for_form ||= home_path %>
<script type="text/javascript">
  function onChangeColorFilter() {
    selectedValue = document.getElementById('color_code').value;
    if (selectedValue != 'None') {
      document.getElementById('color_code_filter_collection').checked = true;
    }
  }
</script>
<div class="record_filters searchbox_area">
  <p><strong>Filter Records:</strong></p>
  <%= form_with( url: path_for_form, method: "get", local: true) do %>
    <div class="record_filters__filters">
      <% if can?(:access, :filter_daac) %>
        <div class="record_filters__select">
          <%= label_tag(:daac, "DAAC") %>
          <%= select_tag(:daac, options_for_select(provider_select_list, selected: params[:daac])) %>
        </div>
      <% end %>

      <div class="record_filters__select">
        <span style="font-weight: bold">Campaign/Project</span>
        <%= select_tag(:campaign, options_for_select(campaign_select_list(form: path_for_form), selected: params[:campaign]), style: "width:190px") %>
      </div>
      <div class="record_filters__select">
        <span>
          <span style="font-weight: bold">Color</span>
          <span class="bubbletooltip">
            <i class="eui-icon eui-fa-info-circle"></i>
            <span class="bubbletooltiptext">Filters records containing one or more metadata elements flagged by the selected color.</span>
          </span>
        </span>
        <%= select_tag(:color_code, options_for_select([['','None'],['Red (Error)', 'red'],['Yellow (Warning)','yellow'],['Blue (Information)','blue'],['Grey (Flagged by pyQuARC)','grey']], selected: params[:color_code]), onchange: 'onChangeColorFilter()') %>
        <span>
          <span><%= check_box_tag(:color_code_filter_collection,nil,params[:color_code_filter_collection]) %></span>
          <span style="vertical-align: top; margin-left: -7px"><%= label_tag(:color_code_filter_collection, "Collection") %></span>

          <span style="margin-left: 10px"><%= check_box_tag(:color_code_filter_granule,nil,params[:color_code_filter_granule]) %></span>
          <span style="vertical-align: top; margin-left: -7px"><%= label_tag(:color_code_filter_granule, "Granule") %></span>
        </span>
      </div>
      <div class="record_filters__select">
        <label for="freetext">Freetext</label>
        <input type="search" name="freetext" id="freetext" class="freetext" style="width: 200px;" value="<%=params[:freetext]%>"/>
      </div>


      <%= submit_tag("Filter", class: "selectButton") %>

    </div>
    
  <% end %>

</div>
