<article class="section_display flex_item">
  <button class="section_button" onclick="location.href='<%= review_path(id: params["id"], section_index: index_count) %>';">
  <%= space_digits(section[0]) %>
  <!-- arrow to review section -->
  <div class="eui-icon eui-fa-arrow-circle-right"></div>
  </button>
  <!-- dynamically add bubble divs -->
  <div id="record_bubbles" class="record_bubbles">
    <% section[1].each do |field| %>
      <% if current_field = bubble_data[field] %>
        <div id="single_bubble_container_<%= field %>" class="single_bubble_container">
          <button onclick="redirectToSection('<%= review_path(id: params["id"], section_index: index_count) %>', '<%= field %>')" class="bubble flag_<%= current_field[:color] %> <%= script_class(current_field) %> bubbletooltip">
              <p class="bubbletooltiptext"><%= split_on_capitals(field) %></p>
            <% if current_user.arc? && current_field[:opinion] && current_field[:opinion] != "" %>
              <div class="<%= script_text_class(current_field) %> bubble_opinion">2</div>
            <% elsif current_field[:feedback] %>
              <div class="<%= script_text_class(current_field) %> bubble_opinion">F</div>
            <% else %>
              <div style="visibility: hidden;" class="<%= script_text_class(current_field) %> bubble_opinion">2</div>
            <% end %>
          </button>
        </div>
      <% else %>
        <%# E is presented in the circle for error. retreiving bubble data.%>
        <div class="bubble flag_white no_script" title="field">
            <div class="<%= script_text_class(current_field) %> bubble_opinion">E</div>
        </div>

      <% end %>
    <% end %>

    <script>
      function redirectToSection(path, field) {
        sessionStorage.setItem('targetField', field)
        location.href = path
      }
    </script>
  </div>
</article>

