<%= render(partial: 'shared/navigation', locals: {title: "METADATA CURATION: RECORD"}) %>
<%= render(partial: 'reviews/navbar', locals: {page: "navigation", record: @record, user_email: current_user.email }) %>

<!-- everything below the nav -->
<section class="record_review_data">
  <div class="outer_flexbox">


    <!-- container of metadata sections -->
    <div class="section_container outer_flex_item_left">
      <!-- header for sections -->

      <div class="section_header">
        <% if can?(:copy_recommendations, @record) %>
          <div class="review_buttons_row">
            <% modal_id = "copy_prior_recommendations-modal-id-#{@record.id}" %>
            <input class="<%=copy_recommendations_active_class(@record)%>" type="button" id="copy_prior_recommendations_button" name="<%= modal_id %>" href="#<%= modal_id %>" value="Copy Prior Recommendations"/>
            <div id="<%= modal_id %>" class="eui-modal-content confirm-modal">
              <a href="#" class="modal-close float-r"><i class="fa fa-times"></i><span class="is-invisible">Close</span></a>
              <form method="get" action="<%=copy_prior_recommendations_record_path(@record.id)%>">
                <br>
                Concept ID: <input type="text" id="concept_id" name="concept_id" value="<%= @prior_record_revision_id == '' ? '' : @record.concept_id %>"/><br>
                Revision ID: <input type="text" id="revision_id" name="revision_id" value="<%= @prior_record_revision_id %>"/>
                <p>
                <input class="smallSelectButton eui-btn--green" type="submit" value="Copy Recommendations">
                  <a href="#"><input type="button" class="smallSelectButton confirm-no-button" value="Cancel"/></a>
                </p>
              </form>
            </div>
          </div>
        <% end %>
        <h3>METADATA ELEMENTS</h3>
      </div>


      <!-- two coulmns holder -->
      <div class="flex_container">
        <!-- left column of section details -->
        <div class="flex_column">
        <% @record_sections.each_with_index do |section, index_count| %>
          <% if index_count.to_i % 3 == 0 %>
          <%= render(partial: 'collection_section_details', locals: {section: section, index_count: index_count, bubble_data: @bubble_data}) %>
          <% end %>
        <% end %>


        </div>

        <!-- right column of section details -->
        <div class="flex_column">
          <% @record_sections.each_with_index do |section, index_count| %>
            <% if index_count.to_i % 3 == 1 %>
            <%= render(partial: 'collection_section_details', locals: {section: section, index_count: index_count, bubble_data: @bubble_data}) %>
            <% end %>
          <% end %>
        </div>


        <!-- right column of section details -->
        <div class="flex_column">
          <% @record_sections.each_with_index do |section, index_count| %>
            <% if index_count.to_i % 3 == 2 %>
            <%= render(partial: 'collection_section_details', locals: {section: section, index_count: index_count, bubble_data: @bubble_data}) %>
            <% end %>
          <% end %>
        </div>
      </div>

    </div>

    <!-- right side completion/reviewers metrics -->
    <div class="outer_flex_item_right">
      <div class="review_comments">
        <!-- header for sections -->
        <div class="section_header">
          <h3>Review Comments</h3>
        </div>

        <% if !@user_review.completed? && !@marked_done %>
          <br>

          <%= form_for @user_review, html: {id: :review_form} do |f| %>
            <%= f.hidden_field :record_id, { :value => @user_review.record_id } %>
            <%= f.hidden_field :id, { :value => @user_review.id } %>
            <%= f.hidden_field :user_id, { :value => @user_review.user_id } %>
            <%= f.hidden_field :review_state, { :value => 1 } %>

            <% if can?(:create_review_comments, @user_review) %>
              <p class="review_comments__headline">ARC Review Comments:</p>
              <p class="review_comments__subheadline">Visible only to ARC curators (optional)</p>
              <%= f.text_area :review_comment, html: {id: :review_comment} %>
            <% end %>

            <% if can?(:create_report_comments, @user_review) %>
              <p class="review_comments__headline">Report Review Comments:</p>
              <p class="review_comments__subheadline">Visible to all curators (required)</p>
              <%= f.text_area :report_comment, html: { id: :report_comment } %>

              <script type="text/javascript">
                document.getElementById("review_report_comment").oninput = function() {
                  document.getElementById("review_complete_button").disabled = false;
                }
              </script>
            <% end %>

          <% end %>

        <% end %>

        <% if @marked_done %>
          <p class="completed_notice">
            <strong>Review Has Been Completed and Closed</strong>
          </p>
        <% end %>

        <% @reviews.each do |review| %>
          <div class="single_comment">
            <p><strong>Reviewer: <%= review.user.email %></strong></p>
            <p><%= review.formatted_date %></p>

            <% if can?(:view_review_comments, review) %>
              <p><%= string_html_format(review.review_comment) %></p>
              <% if can?(:create_review_comments, @user_review) %>
                <% unless review.review_comment.blank?%>
                  <i class="fa fa-pencil-square-o" aria-hidden="true" onclick='toggle_message_form("<%=getFormReviewId(review)%>")'></i>
                  <a href="#" onclick="document.getElementById('delete_review_comment_<%=review.id.to_s %>').submit(); return false;" name="review_comment_trash_can"><i class="fa fa-trash" aria-hidden="true"></i></a>
                  <%= form_with( name: "delete_review_comment",url: update_review_comment_review_path(id: review.id) , method: "put", id: "delete_review_comment_"+review.id.to_s, local: true, authenticity_token: false) do %>
                    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                    <input type="hidden" name="review_comment" id="review_id" value=""/>
                  <% end %>
                  <div id=<%=getFormReviewId(review)%> style="display: none;">
                    <%= form_with( url: update_review_comment_review_path(id: review.id) , method: "put", id: review.id, local: true, authenticity_token: false) do %>
                      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                      <input type="text" name="review_comment" id="review_id" value="<%= review.review_comment%>"/>
                      <input type="submit"/>
                    <% end %>
                  </div>
                <% end %>
              <% end %>
            <% end %>

            <% if can?(:view_report_comments, review) %>
              <p><%= string_html_format(review.report_comment) %></p>
              <% if can?(:create_report_comments, @user_review) %>
                <% unless review.report_comment.blank?%>
                  <i class="fa fa-pencil-square-o" aria-hidden="true" onclick='toggle_message_form("<%=getFormReportId(review)%>")'></i>
                  <a href="#" onclick="document.getElementById('delete_report_comment_<%=review.id.to_s %>').submit(); return false;" name="report_comment_trash_can"><i class="fa fa-trash" aria-hidden="true"></i></a>
                  <%= form_with( name: "delete_report_comment",url: update_report_comment_review_path(id: review.id) , method: "put", id: "delete_report_comment_"+review.id.to_s, local: true, authenticity_token: false) do %>
                    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                    <input type="hidden" name="report_comment" id="report_id" value=""/>
                  <% end %>
                  <div id=<%=getFormReportId(review)%> style="display: none;">
                    <%= form_with( url: update_report_comment_review_path(id: review.id) , method: "put", id: review.id, local: true, authenticity_token: false) do %>
                      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                      <input type="text" name="report_comment" id="report_id" value="<%= review.report_comment%>"/>
                      <input type="submit"/>
                    <% end %>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        <% end %>

      </div>
    </div>

  </div>


  <%= render(partial: 'reviews/legend') %>

</section>

<script type="text/javascript" charset="utf-8">
  function toggle_message_form(messageId) {
    var x = document.getElementById(messageId);
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
</script>
