<%= render(partial: 'reviews/navbar', locals: {page: "navigation", long_name: @long_name, short_name: @short_name, user_email: current_user.email }) %>

<!-- everything below the nav -->
<section class="record_review_data">
  <div class="outer_flexbox">
    <!-- container of metadata sections -->
    <div class="section_container outer_flex_item_left">
      <!-- header for sections -->
      <div class="section_header">
        <h3>METADATA FIELDS</h3>
      </div>

      <!-- two coulmns holder -->
      <div class="flex_container">
        <!-- left column of section details -->
        <div class="flex_column">
        <% @record_sections.each_with_index do |section, index_count| %>
          <% if index_count.to_i % 2 == 0 %>
          <%= render(partial: 'collection_section_details', locals: {section: section, index_count: index_count, bubble_data: @bubble_data}) %>
          <% end %>
        <% end %>

          
        </div>

        <!-- right column of section details -->
        <div class="flex_column">
          <% @record_sections.each_with_index do |section, index_count| %>
            <% if index_count.to_i % 2 != 0 %>
            <%= render(partial: 'collection_section_details', locals: {section: section, index_count: index_count, bubble_data: @bubble_data}) %>
            <% end %>
          <% end %>
        </div>
      </div>

    </div>

    <!-- right side completion/reviewers metrics -->
    <div class="outer_flex_item_right">
      <div class="review_comments">
        <!-- header for sections -->
        <div class="section_header">
          <h3>Review Comments</h3>
        </div>

        <% if @user_review.review_state == 0  && !@marked_done %>
          <br>
          <p>
            <strong>Complete Review Comment:</strong>
          </p>

          <textarea id="review_comment" form="review_form" name="review_comment"></textarea>

          <script type="text/javascript">
            function check_comment_box() {
              var new_value = document.getElementById("review_comment").value;
              if (!(new_value == "")) {
                document.getElementById("review_complete_button").disabled = false;
              }
            }
            
            //checking the text box for an entry to enable button
            setInterval(check_comment_box, 250);
          </script>
        <% end %>

        <% if @marked_done %>
          <p class="completed_notice">
            <strong>Review Has Been Completed and Closed</strong>
          </p>
        <% end %>

        <% @reviews.each do |review| %>
          <div class="single_comment">
            <p><strong>Reviewer: <%=review.user.email%></strong></p>
            <p><%=review.formatted_date%></p>
            <p><%=review.comment%></p>
          </div>
        <% end %>

      </div>
    </div>

  </div>


  <%= render(partial: 'reviews/legend') %>
  
</section>