<%= render(partial: 'reviews/navbar', locals: {page: "navigation"}) %>

<!-- everything below the nav -->
<section class="record_show_navigation">
  <div class="outer_flexbox">
    <!-- container of metadata sections -->
    <div class="section_container outer_flex_item_left">
      <!-- header for sections -->
      <div class="section_header">
        <h3>METADATA FIELDS</h3>
      </div>

      <!-- two coulmns holder -->
      <div class="flex_container">
        <!-- left column of section details -->
        <div class="flex_column">
          <%= render(partial: 'navigation_section_details', locals: {title: "COLLECTION INFORMATION", bubble_data: @bubble_data}) %>
          <%= render(partial: 'navigation_section_details', locals: {title: "SPATIAL INFORMATION", bubble_data: @bubble_data}) %>
          <%= render(partial: 'navigation_section_details', locals: {title: "DATA IDENTIFICATION", bubble_data: @bubble_data}) %>
          <%= render(partial: 'navigation_section_details', locals: {title: "DATA CENTERS", bubble_data: @bubble_data}) %>
          <%= render(partial: 'navigation_section_details', locals: {title: "DISTRIBUTION INFORMATION", bubble_data: @bubble_data}) %>
          <%= render(partial: 'navigation_section_details', locals: {title: "DATA CONTACTS", bubble_data: @bubble_data}) %>
        </div>

        <!-- right column of section details -->
        <div class="flex_column">
          <%= render(partial: 'navigation_section_details', locals: {title: "DESCRIPTIVE KEYWORDS", bubble_data: @bubble_data}) %>
          <%= render(partial: 'navigation_section_details', locals: {title: "COLLECTION CITATIONS", bubble_data: @bubble_data}) %>
          <%= render(partial: 'navigation_section_details', locals: {title: "ACQUISITION INFORMATION", bubble_data: @bubble_data}) %>
          <%= render(partial: 'navigation_section_details', locals: {title: "METADATA INFORMATION", bubble_data: @bubble_data}) %>
          <%= render(partial: 'navigation_section_details', locals: {title: "TEMPORAL INFORMATION", bubble_data: @bubble_data}) %>
        </div>
      </div>

    </div>

    <!-- right side completion/reviewers metrics -->
    <div class="outer_flex_item_right">
      
    </div>

  </div>


  <%= render(partial: 'reviews/legend') %>
  
</section>