<div class="page_header">
  <div class="header_title"> 
    <% if ENV['SIT_ENV'] == 'true' %> 
      <h3>WELCOME TO THE COMMON METADATA REPOSITORY (CMR) DASHBOARD (SIT Environment)</h3>
    <% else %>
      <h3>WELCOME TO THE COMMON METADATA REPOSITORY (CMR) DASHBOARD</h3>
    <% end %>
  </div>

  <div class="clear_box"></div>
</div>
 
<div class="header_image">
  
</div>  

<div class="log_in_box">
  <div class="space_box"></div>

  <div class="box_tab">
    LOG IN
  </div>

  <div class="form_box">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="">
        <%= f.email_field :email, autofocus: true, placeholder: "Username or Email" %>
      </div>

      <div >
        <%= f.password_field :password, autocomplete: "off", placeholder: "Password"  %>
      </div>

      <div class="form_buttons">
        <div class="remember_button">
        <% if devise_mapping.rememberable? -%>
            <%= f.label :remember_me %>
            <%= f.check_box :remember_me %>
        <% end -%>
        </div>
        <div class="form_buttons">
          <%= f.submit "Log in" %>
        </div>
      </div>
    <% end %>
  </div>




</div>



<%= render "devise/shared/links" %>
