<%= render(partial: 'shared/navigation', locals: {title: "METADATA CURATION: HOME"}) %>

<div class="curation_box">

  <div class="space_box"></div>
  <% if can?(:search, :cmr) %>
    <div class="searchbox_area">
      <p><strong>Search the CMR Database for Data Ingest:</strong></p>

      <%= form_tag(collections_search_path, method: "get") do %>
        <%= select_tag(:provider,options_for_select(provider_select_list, :selected => @provider)) %>
        <%= text_field_tag(:free_text) %>
        <%= hidden_field_tag(:curr_page, "1") %>
        <%#= submit_tag("Search") %>
        <button class="search_button" id="search_button">
          <i class="eui-icon eui-fa-search"></i>
        </button>
      <% end %>

      <script type="text/javascript">
        document.getElementById("search_button").onclick = function() {
          showLoading("Searching CMR System");
        }
      </script>

    </div>
  <% end %>

  <div class="results-area">
    <%= render "shared/record_filters" %>

    <% if can?(:review_state, Record::STATE_OPEN) %>

      <% content_for :form_buttons do %>
        <%= render(partial: "shared/record_buttons") %>
      <% end %>

      <%= render partial: "shared/records_table", locals: { form_id: "open", records: records_sorted_by_short_name(@records.open), title: "Unreviewed Records" } %>
    <% end %>

    <% if can?(:review_state, Record::STATE_IN_ARC_REVIEW) %>
      <% content_for :form_buttons, flush: true do %>
        <%= render(partial: "shared/record_buttons") %>
      <% end %>

      <%= render partial: "shared/records_table", locals: { form_id: "in_arc_review", records: records_sorted_by_short_name(@records.in_arc_review), reviews: true, title: "In ARC Review Records" } %>
    <% end %>


    <% if can?(:review_state, Record::STATE_READY_FOR_DAAC_REVIEW) %>
      <% content_for :form_buttons, flush: true do %>
        <%= render(partial: "shared/record_buttons", locals: { complete: can?(:release_to_daac, Record), complete_title: "Release to DAAC" }) %>
      <% end %>

      <%= render partial: "shared/records_table", locals: { form_id: "awaiting_daac_review", records: records_sorted_by_short_name(@records.ready_for_daac_review), reviews: true, title: "Awaiting Release to DAAC" } %>
    <% end %>

    <% if can?(:review_state, Record::STATE_IN_DAAC_REVIEW) %>
      <% content_for :form_buttons, flush: true do %>
        <%= render(partial: "shared/record_buttons", locals: { report: true, complete: can?(:close, Record), complete_title: "Close" } ) %>
      <% end %>

      <%= render partial: "shared/records_table", locals: { form_id: "in_daac_review", records: records_sorted_by_short_name(@records.in_daac_review), reviews: true, title: "In DAAC Review" } %>
    <% end %>

    <% if can?(:provide_feedback, Record) %>
      <% content_for :form_buttons, flush: true do %>
        <%= render(partial: "shared/record_buttons") %>
      <% end %>

      <%= render partial: "shared/records_table", locals: { form_id: "provide_feedback", records: currator_feedback_records(@records), reviews: true, title: "Requires Curator Feedback Records" } %>
    <% end %>
  </div>
</div>
