<%= render(partial: 'shared/navigation') %>

<div class="curation_box">

  <div class="space_box"></div>

<!--     <p>Current User: <%= current_user.email %></p>
    <%= link_to "Search the CMR Database For Data Ingest", collections_search_path %>

    <br>

 -->

  <div class="searchbox_area">
    <p><strong>Search the CMR Database for Data Ingest:</strong></p>

    <%= form_tag(collections_search_path, method: "get") do %>
      <%= select_tag(:provider,options_for_select(@provider_select_list, :selected => @provider)) %>
      <%= text_field_tag(:free_text) %>
      <%= hidden_field_tag(:curr_page, "1") %>
      <%#= submit_tag("Search") %>
      <button class="search_button">
        <i class="eui-icon eui-fa-search"></i>
      </button>
    <% end %>


  </div>

  <div class="results_area">

    <div class="results_title">
      <p><strong>All Records:</strong></p>
    </div>

    <div class="results_table">

      <table cellpadding="5" border="1">
          <tr>
              <th>Concept_ID</th>
              <th>Revision_ID</th>
              <th>ShortName</th>
              <th>Selection</th>
          </tr>


          <% @collection_reviews.each_with_index do |record, index| %>
            <tr>
                <td id="availableConcept<%= index.to_s %>"><%= record.recordable.concept_id %></td>
                <td><%= record.revision_id %></td>
                <td><%= record.recordable.short_name %></td>
                <td><input type="radio" id="available<%= index.to_s %>" name="availableSelection" value="<%= index.to_s %>"/></td>
            </tr>
          <% end %>
        </table>


        <br>

        <%= form_tag( collection_path(id: 1) ,  {method: "get", id: 'available_form'}) do %>
          <%= hidden_field_tag(:concept_id, "", id: "availableConceptId") %>
          <%= submit_tag("See Collection Review Detail", id: 'availableSubmit') %>
        <% end %>

      </div>

  </div>

</div>


<script type="text/javascript">

  var availableButton = document.getElementById("availableSubmit");
  availableButton.disabled = true;

  var availableSelector = document.getElementsByName("availableSelection");
  for (var i = 0, length = availableSelector.length; i < length; i++) {
      (function(index) {
          var temp = document.getElementById("available" + i);
          temp.onclick = function() {
                                var count = index;
                                updateAvailable(count);
                                availableButton.disabled = false;
                                }
      })(i);
  }

  var updateAvailable = function(count) {
    var rowName = "availableConcept" + count;
    var newConceptId = document.getElementById(rowName).innerHTML;
    document.getElementById("availableConceptId").value = newConceptId;
  }



</script>


