<%= render(partial: 'shared/navigation', locals: {title: "METADATA CURATION: HOME"}) %>

<div class="curation_box">

  <div class="space_box"></div>

<!--     <p>Current User: <%= current_user.email %></p>
    <%= link_to "Search the CMR Database For Data Ingest", collections_search_path %>

    <br>

 -->

  <div class="searchbox_area">
    <p><strong>Search the CMR Database for Data Ingest:</strong></p>

    <%= form_tag(collections_search_path, method: "get") do %>
      <%= select_tag(:provider,options_for_select(provider_select_list, :selected => @provider)) %>
      <%= text_field_tag(:free_text) %>
      <%= hidden_field_tag(:curr_page, "1") %>
      <%#= submit_tag("Search") %>
      <button class="search_button" id="search_button">
        <i class="eui-icon eui-fa-search"></i>
      </button>
    <% end %>

    <script type="text/javascript">
      document.getElementById("search_button").onclick = function() {
        showLoading("Searching CMR System");
      }
    </script>

  </div>

  <div class="results_area">
    <% if can?(:access, :filter_daac) %>
      <div class="filter_daac searchbox_area">
        <p><strong>Filter Records by DAAC:</strong></p>
        <%= form_tag(home_path, method: "get") do %>
          <%= select_tag(:daac, options_for_select(provider_select_list, selected: params[:daac])) %>
          <%= submit_tag("Filter", class: "selectButton") %>
        <% end %>
      </div>
    <% end %>

    <% if can?(:review_state, Record::STATE_OPEN) %>
      <div class="table_backdrop">
        <div class="results_title">
          <p><strong>Unreviewed Records:</strong></p>
        </div>


        <div class="results_table">
          <div class="table_scroll">
            <table cellpadding="5" border="1">
              <tr>
                  <th>Concept_ID</th>
                  <th>Type</th>
                  <th class="center_text">Revision_ID</th>
                  <th>ShortName</th>
                  <th class="center_text">Version</th>
                  <th>Ingested By</th>
                  <th>Selection</th>
              </tr>

              <% records_sorted_by_short_name(@records.open).each_with_index do |record, index| %>
                <tr>
                    <td id="unreviewedConcept<%= index.to_s %>"><%= record.recordable.concept_id %></td>
                    <td><%= record.collection? ? "Collection" : "Granule" %></td>
                    <td id="unreviewedRevision<%= index.to_s %>" class="center_text"><%= record.revision_id %></td>
                    <td><%= record.recordable.short_name %></td>
                    <td class="center_text"><%= record.version_id %></td>
                    <td><%= record.ingested_by %></td>
                    <td class="center_text"><input type="radio" id="unreviewed<%= index.to_s %>" name="unreviewedSelection" value="<%= index.to_s %>"/></td>
                </tr>
              <% end %>
            </table>
          </div>

          <br>

          <div class="form_buttons">
            <%= form_tag( collection_path(id: 1) ,  {method: "get", id: 'unreviewed_form'}) do %>
              <%= hidden_field_tag(:concept_id, "", id: "unreviewedConceptId") %>
              <%= submit_tag("See Review Detail", id: 'unreviewedSubmit', class: "selectButton") %>
            <% end %>

            <% if current_user.admin %>
              <%= form_tag( collections_hide_path ,  {method: "get", id: 'unrevieweddelete_form'}) do %>
                <%= hidden_field_tag(:concept_id, "", id: "unreviewedDeleteConceptId") %>
                <%= hidden_field_tag(:revision_id, "", id: "unreviewedDeleteRevisionId") %>
                <%= submit_tag("Delete Record", id: 'unreviewedDeleteSubmit', class: "deleteButton") %>
              <% end %>
            <% end %>
          </div>

        </div>
      </div>
    <% end %>



    <% if can?(:review_state, Record::STATE_IN_ARC_REVIEW) %>
      <div class="table_backdrop">
        <div class="results_title">
          <p><strong>In ARC Review Records:</strong></p>
        </div>

        <div class="results_table">
          <div class="table_scroll">
            <table cellpadding="5" border="1">
              <tr>
                  <th>Concept_ID</th>
                  <th>Type</th>
                  <th class="center_text">Revision_ID</th>
                  <th>ShortName</th>
                  <th class="center_text">Version</th>
                  <th>Ingested By</th>
                  <th class="center_text"># Completed Reviews</th>
                  <th class="center_text"># Second Reviews Requested</th>
                  <th>Selection</th>
              </tr>

              <% records_sorted_by_short_name(@records.in_arc_review).each_with_index do |record, index| %>
                <tr>
                    <td id="in-reviewConcept<%= index.to_s %>"><%= record.recordable.concept_id %></td>
                    <td><%= record.collection? ? "Collection" : "Granule" %></td>
                    <td id="in-reviewRevision<%= index.to_s %>" class="center_text"><%= record.revision_id %></td>
                    <td><%= record.recordable.short_name %></td>
                    <td class="center_text"><%= record.version_id %></td>
                    <td><%= record.ingested_by %></td>
                    <td class="center_text"><%= record.completed_review_count %></td>
                    <td class="center_text"><%= record.second_opinion_count %></td>
                    <td class="center_text"><input type="radio" id="in-review<%= index.to_s %>" name="in-reviewSelection" value="<%= index.to_s %>"/></td>
                </tr>
              <% end %>
            </table>
          </div>

          <br>

          <div class="form_buttons">
            <%= form_tag( collection_path(id: 1) ,  {method: "get", id: 'in-review_form'}) do %>
              <%= hidden_field_tag(:concept_id, "", id: "in-reviewConceptId") %>
              <%= submit_tag("See Review Detail", id: 'in-reviewSubmit', class: "selectButton") %>
            <% end %>

            <% if current_user.admin %>
              <%= form_tag( collections_hide_path ,  {method: "get", id: 'in-reviewdelete_form'}) do %>
                <%= hidden_field_tag(:concept_id, "", id: "in-reviewDeleteConceptId") %>
                <%= hidden_field_tag(:revision_id, "", id: "in-reviewDeleteRevisionId") %>
                <%= submit_tag("Delete Record", id: 'in-reviewDeleteSubmit', class: "deleteButton") %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>


    <% if can?(:review_state, Record::STATE_READY_FOR_DAAC_REVIEW) %>
      <div class="table_backdrop">
        <div class="results_title">
          <p><strong>Awaiting Release to DAAC:</strong></p>
        </div>

        <div class="results_table">
          <div class="table_scroll">
            <table cellpadding="5" border="1">
              <tr>
                  <th>Concept_ID</th>
                  <th>Type</th>
                  <th class="center_text">Revision_ID</th>
                  <th>ShortName</th>
                  <th class="center_text">Version</th>
                  <th>Ingested By</th>
                  <th class="center_text"># Completed Reviews</th>
                  <th class="center_text"># Second Reviews Requested</th>
                  <th>Selection</th>
              </tr>

              <% records_sorted_by_short_name(@records.ready_for_daac_review).each_with_index do |record, index| %>
                <tr>
                    <td id="waiting-daac-releaseConcept<%= index.to_s %>"><%= record.recordable.concept_id %></td>
                    <td><%= record.collection? ? "Collection" : "Granule" %></td>
                    <td id="waiting-daac-releaseRevision<%= index.to_s %>" class="center_text"><%= record.revision_id %></td>
                    <td><%= record.recordable.short_name %></td>
                    <td class="center_text"><%= record.version_id %></td>
                    <td><%= record.ingested_by %></td>
                    <td class="center_text"><%= record.completed_review_count %></td>
                    <td class="center_text"><%= record.second_opinion_count %></td>
                    <td class="center_text"><input type="radio" id="waiting-daac-release<%= index.to_s %>" name="waiting-daac-releaseSelection" value="<%= index.to_s %>"/></td>
                </tr>
              <% end %>
            </table>
          </div>

          <br>

          <div class="form_buttons">
            <%= form_tag( collection_path(id: 1) ,  {method: "get", id: 'waiting-daac-release_form'}) do %>
              <%= hidden_field_tag(:concept_id, "", id: "waiting-daac-releaseConceptId") %>
              <%= submit_tag("See Review Detail", id: 'waiting-daac-releaseSubmit', class: "selectButton") %>
            <% end %>

            <% if current_user.admin %>
              <%= form_tag( collections_hide_path ,  {method: "get", id: 'waiting-daac-releasedelete_form'}) do %>
                <%= hidden_field_tag(:concept_id, "", id: "waiting-daac-releaseDeleteConceptId") %>
                <%= hidden_field_tag(:revision_id, "", id: "waiting-daac-releaseDeleteRevisionId") %>
                <%= submit_tag("Delete Record", id: 'waiting-daac-releaseDeleteSubmit', class: "deleteButton") %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>



    <% if can?(:review_state, Record::STATE_IN_DAAC_REVIEW) %>
      <div class="table_backdrop">
        <div class="results_title">
          <p><strong>In DAAC Review:</strong></p>
        </div>

        <div class="results_table">
          <div class="table_scroll">
            <table cellpadding="5" border="1">
              <tr>
                  <th>Concept_ID</th>
                  <th>Type</th>
                  <th class="center_text">Revision_ID</th>
                  <th>ShortName</th>
                  <th class="center_text">Version</th>
                  <th>Ingested By</th>
                  <th class="center_text"># Completed Reviews</th>
                  <th class="center_text"># Second Reviews Requested</th>
                  <th>Selection</th>
              </tr>

              <% current_user_daac_records(@records.in_daac_review).each_with_index do |record, index| %>
                <tr>
                    <td id="in-daac-reviewConcept<%= index.to_s %>"><%= record.recordable.concept_id %></td>
                    <td><%= record.collection? ? "Collection" : "Granule" %></td>
                    <td id="in-daac-reviewRevision<%= index.to_s %>" class="center_text"><%= record.revision_id %></td>
                    <td><%= record.recordable.short_name %></td>
                    <td class="center_text"><%= record.version_id %></td>
                    <td><%= record.ingested_by %></td>
                    <td class="center_text"><%= record.completed_review_count %></td>
                    <td class="center_text"><%= record.second_opinion_count %></td>
                    <td class="center_text"><input type="radio" id="in-daac-review<%= index.to_s %>" name="in-daac-reviewSelection" value="<%= index.to_s %>"/></td>
                </tr>
              <% end %>
            </table>
          </div>

          <br>

          <div class="form_buttons">
            <%= form_tag( collection_path(id: 1) ,  {method: "get", id: 'in-daac-review_form'}) do %>
              <%= hidden_field_tag(:concept_id, "", id: "in-daac-reviewConceptId") %>
              <%= submit_tag("See Review Detail", id: 'in-daac-reviewSubmit', class: "selectButton") %>
            <% end %>

            <%= form_tag( reports_single_path ,  {method: "get", id: 'in-daac-review_report_form'}) do %>
              <%= hidden_field_tag(:concept_id, "", id: "in-daac-reviewReportConceptId") %>
              <%= hidden_field_tag(:revision_id, "", id: "in-daac-reviewReportRevisionId") %>
              <%= submit_tag("Get Review Report", id: 'in-daac-reviewReportSubmit', class: "reportButton") %>
            <% end %>

            <% if current_user.admin %>
              <%= form_tag( collections_hide_path ,  {method: "get", id: 'in-daac-reviewdelete_form'}) do %>
                <%= hidden_field_tag(:concept_id, "", id: "in-daac-reviewDeleteConceptId") %>
                <%= hidden_field_tag(:revision_id, "", id: "in-daac-reviewDeleteRevisionId") %>
                <%= submit_tag("Delete Record", id: 'in-daac-reviewDeleteSubmit', class: "deleteButton") %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

    <% if can?(:provide_feedback, Record) %>
      <div class="table_backdrop">
        <div class="results_title">
          <p><strong>Requires Curator Feedback Records:</strong></p>
        </div>

        <div class="results_table">
          <div class="table_scroll">
            <table cellpadding="5" border="1">
              <tr>
                  <th>Concept_ID</th>
                  <th>Type</th>
                  <th class="center_text">Revision_ID</th>
                  <th>ShortName</th>
                  <th class="center_text">Version</th>
                  <th>Ingested By</th>
                  <th class="center_text"># Completed Reviews</th>
                  <th class="center_text"># Second Reviews Requested</th>
                  <th>Selection</th>
              </tr>

              <% currator_feedback_records(@records).each_with_index do |record, index| %>
                <tr>
                    <td id="requires-curator-feedbackConcept<%= index.to_s %>"><%= record.recordable.concept_id %></td>
                    <td><%= record.collection? ? "Collection" : "Granule" %></td>
                    <td id="requires-curator-feedbackRevision<%= index.to_s %>" class="center_text"><%= record.revision_id %></td>
                    <td><%= record.recordable.short_name %></td>
                    <td class="center_text"><%= record.version_id %></td>
                    <td><%= record.ingested_by %></td>
                    <td class="center_text"><%= record.completed_review_count %></td>
                    <td class="center_text"><%= record.second_opinion_count %></td>
                    <td class="center_text"><input type="radio" id="requires-curator-feedback<%= index.to_s %>" name="requires-curator-feedbackSelection" value="<%= index.to_s %>"/></td>
                </tr>
              <% end %>
            </table>
          </div>

          <br>

          <div class="form_buttons">
            <%= form_tag( collection_path(id: 1) ,  {method: "get", id: 'requires-curator-feedback_form'}) do %>
              <%= hidden_field_tag(:concept_id, "", id: "requires-curator-feedbackConceptId") %>
              <%= submit_tag("See Review Detail", id: 'requires-curator-feedbackSubmit', class: "selectButton") %>
            <% end %>

            <% if current_user.admin %>
              <%= form_tag( collections_hide_path ,  {method: "get", id: 'requires-curator-feedbackdelete_form'}) do %>
                <%= hidden_field_tag(:concept_id, "", id: "requires-curator-feedbackDeleteConceptId") %>
                <%= hidden_field_tag(:revision_id, "", id: "requires-curator-feedbackDeleteRevisionId") %>
                <%= submit_tag("Delete Record", id: 'requires-curator-feedbackDeleteSubmit', class: "deleteButton") %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>


    <% if can?(:review_state, Record::STATE_CLOSED) %>
      <div class="table_backdrop">
        <div class="results_title">
          <p><strong>Team's Closed Records:</strong></p>
        </div>

        <div class="results_table">
          <div class="table_scroll">
            <table cellpadding="5" border="1">
              <tr>
                  <th>Concept_ID</th>
                  <th>Type</th>
                  <th class="center_text">Revision_ID</th>
                  <th>ShortName</th>
                  <th>Version</th>
                  <th>Ingested By</th>
                  <th>Date Review Closed</th>
                  <th>Selection</th>
              </tr>

              <% records_sorted_by_short_name(@records.closed).each_with_index do |record, index| %>
                <tr>
                    <td id="closedConcept<%= index.to_s %>"><%= record.recordable.concept_id %></td>
                    <td><%= record.collection? ? "Collection" : "Granule" %></td>
                    <td id="closedRevision<%= index.to_s %>" class="center_text"><%= record.revision_id %></td>
                    <td><%= record.recordable.short_name %></td>
                    <td><%= record.version_id %></td>
                    <td><%= record.ingested_by %></td>
                    <td><%= record.formatted_closed_date %></td>
                    <td class="center_text"><input type="radio" id="closed<%= index.to_s %>" name="closedSelection" value="<%= index.to_s %>"/></td>
                </tr>
              <% end %>
            </table>
          </div>

          <br>

          <div class="form_buttons">
            <%= form_tag( collection_path(id: 1) ,  {method: "get", id: 'closed_form'}) do %>
              <%= hidden_field_tag(:concept_id, "", id: "closedConceptId") %>
              <%= submit_tag("See Review Detail", id: 'closedSubmit', class: "selectButton") %>
            <% end %>

            <%= form_tag( reports_single_path ,  {method: "get", id: 'closedreport_form'}) do %>
              <%= hidden_field_tag(:concept_id, "", id: "closedReportConceptId") %>
              <%= hidden_field_tag(:revision_id, "", id: "closedReportRevisionId") %>
              <%= submit_tag("Get Review Report", id: 'closedReportSubmit', class: "reportButton") %>
            <% end %>

            <% if current_user.admin %>
              <%= form_tag( collections_hide_path ,  {method: "get", id: 'closeddelete_form'}) do %>
                <%= hidden_field_tag(:concept_id, "", id: "closedDeleteConceptId") %>
                <%= hidden_field_tag(:revision_id, "", id: "closedDeleteRevisionId") %>
                <%= submit_tag("Delete Record", id: 'closedDeleteSubmit', class: "deleteButton") %>
              <% end %>

              <%= form_tag( collections_stop_updates_path ,  {method: "get", id: 'closedfinished_form'}) do %>
                <%= hidden_field_tag(:concept_id, "", id: "closedFinishedConceptId") %>
                <%= hidden_field_tag(:revision_id, "", id: "closedFinishedRevisionId") %>
                <%= submit_tag("Exclude Record from Updates", id: 'closedFinishedSubmit', class: "finishedButton", data: { confirm: "Exclude this Record from Future CMR Updates?" }) %>
              <% end %>
            <% end %>
          </div>

        </div>
      </div>
    <% end %>

  </div>

</div>


<script type="text/javascript">

  var deleteButtons = document.getElementsByClassName("deleteButton")
  for (var i = 0; i < deleteButtons.length; i++) {
    deleteButtons[i].onclick = function() {
      if (confirm("Delete this Record from the System?")) {
        showLoading("Deleting Record");
      } else {
        return false;
      }
    };
  }

  setUpTable("unreviewed");
  setUpTable("in-review");
  setUpTable("waiting-daac-release");
  setUpTable("requires-curator-feedback");
  setUpTable("in-daac-review");
  setUpTable("closed");

  function setUpTable(table) {
    var tableButton = document.getElementById(table + "Submit");
    var tableDeleteButton = document.getElementById(table + "DeleteSubmit");
    var tableReportButton = document.getElementById(table + "ReportSubmit");
    var tableFinishedButton = document.getElementById(table + "FinishedSubmit");
    var buttonArr = [tableButton, tableDeleteButton, tableReportButton, tableFinishedButton];

    var tableSelector = document.getElementsByName(table + "Selection");
    //setting the buttons manually here because sometimes the page is loaded with something already selected
    for (var k=0; k < buttonArr.length; k++) {
      if (buttonArr[k] != null) {
        buttonArr[k].disabled = setOnClick(table, buttonArr,tableSelector);
      }
    }
  }


  function setOnClick(table, tableArr, tableSelector) {
      var shouldDisable = true;
      for (var i = 0, length = tableSelector.length; i < length; i++) {
          (function(index) {
              var temp = document.getElementById(table + i);
              if (temp && temp.checked) {
                shouldDisable = false;
              }
              temp.onclick = function() {
                                    var count = index;
                                    updateTableValues(count, table);
                                    for (var k=0; k < tableArr.length; k++) {
                                      if (tableArr[k] != null) {
                                        tableArr[k].disabled = false;
                                      }
                                    }
                                  }
          })(i);
      }
      return shouldDisable;
  }


  function updateTableValues(count, table) {
    var rowName = table + "Concept" + count;
    var newConceptId = document.getElementById(rowName).innerHTML;
    var rowRevisionName = table + "Revision" + count;
    var newRevisionId = document.getElementById(rowRevisionName).innerHTML;
    document.getElementById(table + "ConceptId").value = newConceptId;

    var deleteConceptId = document.getElementById(table + "DeleteConceptId");
    var deleteRevisionId = document.getElementById(table + "DeleteRevisionId");
    if (deleteConceptId != null) {
      deleteConceptId.value = newConceptId;
    }
    if (deleteRevisionId != null) {
      deleteRevisionId.value = newRevisionId;
    }

    var reportConceptId = document.getElementById(table + "ReportConceptId");
    var reportRevisionId = document.getElementById(table + "ReportRevisionId");
    if (reportConceptId != null) {
      reportConceptId.value = newConceptId;
    }
    if (reportRevisionId != null) {
      reportRevisionId.value = newRevisionId;
    }

    var finishedConceptId = document.getElementById(table + "FinishedConceptId");
    var finishedRevisionId = document.getElementById(table + "FinishedRevisionId");
    if (finishedConceptId != null) {
      finishedConceptId.value = newConceptId;
    }
    if (finishedRevisionId != null) {
      finishedRevisionId.value = newRevisionId;
    }
  }



</script>
