<div class="page_header">
  <div class="header_title"> 
    <h3>CURATION HOME</h3>
  </div>

  <div class="header_button_box">
      <div class="header_icon_button">
        <i class="eui-icon eui-fa-external-link-square"></i>
        <p>LOGOUT</p>
      </div>
      <div class="header_icon_button">
        <i class="eui-icon eui-fa-question-circle"></i>
        <p>HELP</p>
      </div>
  </div>
</div>

<div class="header_image">

</div>

<div class="curation_box">

    <p>Current User: <%= current_user.email %></p>
    <%= link_to "Search the CMR Database For Data Ingest", collections_search_path %>

    <br>






    <br>



    <p>All Records Available For Review:</p>

    <table cellpadding="5" border="1">
        <tr>
            <th>Concept_ID</th>
            <th>Revision_ID</th>
            <th>ShortName</th>
            <th>Selection</th>
        </tr>


      <% @user_available_collection_reviews.each_with_index do |record, index| %>
        <tr>
            <td id="availableConcept<%= index.to_s %>"><%= record.recordable.concept_id %></td>
            <td><%= record.revision_id %></td>
            <td><%= record.recordable.short_name %></td>
            <td><input type="radio" id="available<%= index.to_s %>" name="availableSelection" value="<%= index.to_s %>"/></td>
        </tr>
      <% end %>
    </table>


    <br>

    <%= form_tag( collection_path(id: 1) ,  {method: "get", id: 'available_form'}) do %>
      <%= hidden_field_tag(:concept_id, "", id: "availableConceptId") %>
      <%= submit_tag("See Collection Review Detail", id: 'availableSubmit') %>
    <% end %>


</div>


<script type="text/javascript">

  var availableButton = document.getElementById("availableSubmit");
  availableButton.disabled = true;

  var availableSelector = document.getElementsByName("availableSelection");
  for (var i = 0, length = availableSelector.length; i < length; i++) {
      (function(index) {
          var temp = document.getElementById("available" + i);
          temp.onclick = function() {
                                var count = index;
                                updateAvailable(count);
                                availableButton.disabled = false;
                                }
      })(i);
  }

  var updateAvailable = function(count) {
    var rowName = "availableConcept" + count;
    var newConceptId = document.getElementById(rowName).innerHTML;
    document.getElementById("availableConceptId").value = newConceptId;
  }



</script>


