<div class="page_header">
  <div class="header_title"> 
    <h3>WELCOME TO THE COMMON METADATA REPOSITORY (CMR) DASHBOARD</h3>
  </div>

  <div class="header_button_box">
      <div class="header_icon_button">
        <i class="eui-icon eui-fa-globe"></i>
        <p>CURATION HOME</p>
      </div>
      <div class="header_icon_button">
        <i class="eui-icon eui-fa-question-circle"></i>
        <p>HELP</p>
      </div>
  </div>
</div>

<div class="header_image">
  
</div>
<% if current_user && current_user.admin? %>
  <%= link_to "Create User", new_user_registration_path %>
  <br>
<% end %>

<% if current_user %>
  <p>Current User: <%= current_user.email %></p>
<% else %>
  <%= link_to "Sign in", new_user_session_path %>
  <br>
<% end %>

<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
<br>
<br>
<%= link_to "Change your password", edit_user_registration_path %>

<br>
<br>
<br>

<% if current_user && current_user.curator%>
  <%= link_to "See Curation Home Page", home_path %>
<% end %>

