<%= render(partial: 'shared/navigation') %>

<% if current_user && current_user.admin? %>
  <%= link_to "Create User", new_user_registration_path %>
  <br>
<% end %>

<% if current_user %>
  <p>Current User: <%= current_user.email %></p>
<% else %>
  <%= link_to "Sign in", new_user_session_path %>
  <br>
<% end %>

<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
<br>
<br>
<%= link_to "Change your password", edit_user_registration_path %>

<br>
<br>
<br>

<% if current_user && current_user.curator%>
  <%= link_to "See Curation Home Page", home_path %>
<% end %>

