<tr class="user_input">

  <th class="inputlabelcol"></th>
  <th class="headcol headcol__user-row second_to_final_headcol">COLOR CODE</th>
  
  <% section_titles.each do |title| %>
    <td class="color_code_cell column_<%=title%>">
      <div class="height_holder">

        <!-- Only one of the two divs below shown at once, managed by update_color_backgrounds -->
        <!-- Color selection version of contents -->
        <div class="color_code_background" id="color_code_background_<%=title%>">
          <% ["green", "blue", "yellow", "red", "gray"].each do |color| %>
            <div <%= enabled ? '' : 'data-disabled=true' %> class="color_code_button color_<%=color%>" id="color_button_<%=color%>_<%=title%>">
              <i class="color_code_icon fa fa-arrow-circle-right"></i>
            </div>

            <!-- setting the color select then running an update across all colors -->
            <script type="text/javascript">
              var el = document.getElementById("color_button_<%=color%>_<%=title%>");
              el.onclick = function() {
                document.getElementById("color_code_<%=title%>").value = "<%=color%>";
                update_color_backgrounds(); 
                activateSaveButton();
              }
            </script>
          <% end %>
        </div>

        <!-- Color cancelling div -->
        <div class="color_cancel_selection" id="color_cancel_selection_<%=title%>">
          <i <%= enabled ? '' : 'data-disabled=true' %> class="cancel_selection_icon fa fa-window-close-o" id="cancel_icon_<%=title%>"></i>

          <!-- clearing the color select then running an update across all colors -->
          <script type="text/javascript">
            var el = document.getElementById("cancel_icon_<%=title%>");
            el.onclick = function() {
              document.getElementById("color_code_<%=title%>").value = "";
              update_color_backgrounds(); 
              activateSaveButton();
            }
            
          </script>
        </div>
      </div>

      <div class="styled-select blue semi-square">
        <select onchange="update_color_backgrounds()" class="color_code_select" name="color_code[<%= title %>]" id="color_code_<%= title %>" form="field_form" >
          <% selected = color_selected_list(@color_codes[title]) %>
          <option <%= selected[0] %> value="">Select Color</option>
          <option <%= selected[1] %> value="green">Green</option>
          <option <%= selected[2] %> value="blue">Blue</option>
          <option <%= selected[3] %> value="yellow">Yellow</option>
          <option <%= selected[4] %> value="red">Red</option>
          <option <%= selected[5] %> value="gray">Gray</option>
        </select>
      </div>
    </td>
  <% end %>

</tr>
