<tr class="user_input">

  <th class="headcol headcol--discussion headcol__user-row">
    <p>DISCUSSION &amp; JUSTIFICATION</p>
    <p class="headcol_subtitle">(Visible to All)</p>
  </th>

  <% section_titles.each do |title| %>
    <td class="discussion_td column_<%=title%>">
      <div class="discussion_holder">
        <div class="new_discussion">
          <textarea oninput="activateSaveButton()" placeholder="New Comment..." name="discussion[<%= title %>]" form="field_form"></textarea>  
        </div>

        <% messages = discussions.select { |discussion| discussion.column_name == title }.sort { |old_comment, new_comment| new_comment.date <=> old_comment.date } %>
        <% messages.each do |message| %>
          <div class="discussion_comment">
            <div class="discussion_title">
              <p><%= message.formatted_date %></p>
              <p><%= message.user.email %> says:</p>
            </div>
            <div class="discussion_text">
              <div style="display: flex; flex-direction: row">
                <p id=<%="text" + getFormDiscussionId(message)%> style="display: block;"><%= string_html_format(message.comment) %></p>
                <div id=<%=getFormDiscussionId(message)%> style="display: none;">
                  <%= form_with( url: discussion_path(id: message.id) , method: "put", id: message.id, local: true, authenticity_token: false) do %>
                    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                    <input type="text" name="discussion" id="discussion_id" value="<%= message.comment%>"/>
                    <input type="hidden" id="record_id" name="record_id" value="<%=@record.id %>">
                    <input type="hidden" id="section_index" name="section_index" value="<%=params[:section_index] %>">
                    <input type="submit" class="eui-btn--green"/>
                  <% end %>
                </div>
                <%= form_with( name: "delete",url: discussion_path(id: message.id) , method: "delete", id: "delete"+message.id.to_s, local: true, authenticity_token: false) do %>
                  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                  <input type="hidden" id="record_id" name="record_id" value="<%=@record.id %>">
                  <input type="hidden" id="section_index" name="section_index" value="<%=params[:section_index] %>">
                <% end %>
                <i class="fa fa-pencil-square-o" aria-hidden="true" onclick='toggle_message_form("<%=getFormDiscussionId(message)%>");toggle_message_form("<%="text" + getFormDiscussionId(message)%>")'></i>
                <a href="#" onclick="document.getElementById('delete<%=message.id.to_s %>').submit(); return false;" name="discussion_trash_can"><i class="fa fa-trash" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
        <% end %>
      </div>  
    </td>
  <% end %>

</tr>

<script type="text/javascript" charset="utf-8">
  function toggle_message_form(messageId) {
    var x = document.getElementById(messageId);
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
</script>