<nav class="record_nav">
  <% if page == "navigation" %>
    <button class="collection_back_button" id="nav_back_button">
  <% else %>
    <button class="nav_button" id="nav_back_button">
  <% end %>
    <!-- arrow link -->
    <i class="eui-icon eui-fa-arrow-circle-left button_symbol"></i>
    <% if page == "navigation" %>
      MAIN MENU
    <% else %>
      BACK TO METADATA ELEMENTS
    <% end %>
    <% if ENV['SIT_ENV'] == 'true' %> 
       (SIT Environment)
    <% end %>
  </button>

  <% if page == "navigation" %>
    <script type="text/javascript">
      document.getElementById("nav_back_button").onclick = function() {
        document.location.href = "<%= collection_path(id: params["id"], concept_id: record.concept_id) %>"
      }
    </script>
  <% else %>
  <script type="text/javascript">
    document.getElementById("nav_back_button").onclick = function() {
      document.location.href = "<%= record_path(id: params["id"]) %>"
    }
  </script>
    
  <% end %>

    

  <div class="nav_info">
    <p>REVIEWER: <%= user_email %></p>
    <p><!-- Last Updated: X --></p>
  </div>
</nav>


<!-- record title and info -->
<div class="record_title">
  <% if page == "navigation" %>
      <div class="nav_details">
    <% else %>
      <div class="nav_review_details">
    <% end %>
  
    <p><strong>LONG NAME : </strong><%= record.long_name %></p>
    <p>SHORT NAME : <%= record.short_name %></p>
    <p>FORMAT : <%= record.format %></p>
    <p>UMM JSON : <a href="<%= record.umm_json_link %>" download><%=record.concept_id%>-<%=record.revision_id%></a></p>
  </div>

  <% if page == "review" %>

      <div class="title_buttons">

        <button type="button" id="previousButton" class="eui-btn eui-btn--round eui-btn--sm">
          <i class="eui-icon eui-fa-arrow-circle-left button_symbol"></i>
          <span id="previousButtonText">PREVIOUS</span>
        </button>
        <button type="button" id="nextButton" class="eui-btn eui-btn--round eui-btn--sm">
          <span id="nextButtonText">NEXT</span>
          <i class="eui-icon eui-fa-arrow-circle-right button_symbol"></i>
        </button>    
      </div>
      <div class="clearfix"></div>

      <script type="text/javascript">
        document.getElementById("previousButton").onclick = function() {
          if (<%=params["section_index"].to_i%> > 0) {
            var section_select = document.getElementById("section_select");
            section_select.options[<%=params["section_index"].to_i - 1%>].selected = true;
            section_select.options[<%=params["section_index"].to_i%>].selected = false;

            section_select.onchange();
          } else {
            //sending a nil next section so user is redirected to record overview
            section_select.selectedIndex = -1;
            section_select.onchange();
          }
          showLoading("Loading");
        };

        document.getElementById("nextButton").onclick = function() {
          var section_select = document.getElementById("section_select");
          if (<%=params["section_index"].to_i%> < (section_select.options.length - 1)) {
            
            section_select.options[<%=params["section_index"].to_i + 1%>].selected = true;
            section_select.options[<%=params["section_index"].to_i%>].selected = false;

            section_select.onchange();
          } else {
            //sending a nil next section so user is redirected to record overview
            section_select.selectedIndex = -1;
            section_select.onchange();
          }
          showLoading("Loading");
        };

      </script>

  <% else %>

      <div class="complete_buttons">
  
        <button id="review_complete_button" type="button" disabled class="eui-btn eui-btn--round eui-btn--sm review_complete_button">
          <p class="button_text">REVIEW COMPLETE</p>
          <i class="eui-icon eui-check-o button_symbol"></i>
        </button>
        <script type="text/javascript">
          document.getElementById("review_complete_button").onclick = function() {
            document.getElementById("review_form").submit();
          };
        </script>

        <%# checking to make sure that two reviews are completed on pageload %>
        <% if @completed_records > 1 && !@marked_done %>
          <% is_disabled = "" %>
        <% else %>
          <% is_disabled = "disabled" %>
        <% end %>


        <!-- close record button -->
        <button type="button" <%= is_disabled %> id="done_button" class="eui-btn eui-btn--round eui-btn--sm mark_complete_button">
          <p class="button_text">MARK AS DONE</p>
          <i class="eui-icon eui-fa-link button_symbol complete_symbol"></i>
        </button>    
        <script type="text/javascript">
          document.getElementById("done_button").onclick = function() {
            if (!<%=@color_coding_complete%>) {
              alert("Not all columns have been flagged with a color, can not close review");
              return false;
            }
            if (!<%=@has_enough_reviews%>) {
              alert("A review needs two completed reviews to be closed, can not close review");
              return false;
            }
            if (!<%=@no_second_opinions%>) {
              alert("Some columns still need a second opinion review, can not close review.  Please clear all second opinion flags.");
              return false;
            }

            document.location.href = "<%= record_complete_path(id: params["id"]) %>"
          };
        </script>
      </div>
      <div class="clearfix"></div>

  <% end %>

</div>