<script type="text/javascript">
  
  function add_opinion_click_handler(cellId, checkId, pId, iconId) {
    document.getElementById(cellId).onclick = function() {
      activateSaveButton();
      
      var checkbox = document.getElementById(checkId);
      checkbox.checked = !checkbox.checked;

      var iconClass = checkbox.checked ? 'eui-icon eui-check-o' : 'fa fa-user-plus';
      $("#" + iconId).attr('class', iconClass);
      $("#" + cellId).toggleClass('review-toggle__cell');
      $("#" + pId).toggleClass('review-toggle__text');      
    }; 
  }

</script>

<tr class="user_input">

  <th class="headcol headcol__user-row second_to_final_headcol">2ND OPINION</th>
  
  <% section_titles.each do |title| %>
    <td class="no_padding column_<%=title%>">
      <div id="opinion_cell_<%= title %>" class="opinion_cell">
        <input style="visibility: hidden;" type="checkbox" id="opinion_check_<%= title %>" name="opinion[<%= title %>]" form="field_form">
        <p id="opinion_text_<%= title %>">
          <i id="opinion_icon_<%= title %>" class="fa fa-user-plus"></i>
          Requires 2nd Opinion
        </p>
      </div>  
    </td>

    <script type="text/javascript">
      add_opinion_click_handler("opinion_cell_<%= title %>", "opinion_check_<%= title %>", "opinion_text_<%= title %>", "opinion_icon_<%= title %>");
      
      <% if second_opinions[title] == true %>
        $("#opinion_check_<%= title %>").attr('checked', true);
        $("#opinion_cell_<%= title %>").addClass('review-toggle__cell');
        $("#opinion_text_<%= title %>").addClass('review-toggle__text');
        $("#opinion_icon_<%= title %>").attr('class', "eui-icon eui-check-o");
      <% end %>
    </script>
  <% end %>

</tr>
