<script type="text/javascript">
  
  function addFeedbackClickHandler(cellId, checkId, pId, iconId) {
    document.getElementById(cellId).onclick = function() {
      activateSaveButton();
      
      var checkbox = document.getElementById(checkId);
      checkbox.checked = !checkbox.checked;
      
      var iconClass = checkbox.checked ? 'eui-icon eui-check-o' : 'fa fa-comments';
      document.getElementById(iconId).className = iconClass;

      var cellEl = document.getElementById(cellId), cellClass = "review-toggle__cell";
      var textEl = document.getElementById(pId), textClass = "review-toggle__text";
      
      if (checkbox.checked) {
        cellEl.classList.add(cellClass);
        textEl.classList.add(textClass);
      } else {
        cellEl.classList.remove(cellClass);
        textEl.classList.remove(textClass);
      }
    }; 
  }

</script>

<tr class="user_input">

  <th class="headcol headcol__user-row">Feedback</th>
  
  <% section_titles.each do |title| %>
    <td class="no_padding column_<%=title%>">
      <div id="feedback_cell_<%= title %>" class="opinion_cell">
        <input style="visibility: hidden;" type="checkbox" id="feedback_check_<%= title %>" name="feedback[<%= title %>]" form="field_form">
        <p id="feedback_text_<%= title %>">
          <i id="feedback_icon_<%= title %>" class="fa fa-comments"></i>
          Request Curator Feedback
        </p>
      </div>  
    </td>

    <script type="text/javascript">
      addFeedbackClickHandler("feedback_cell_<%= title %>", "feedback_check_<%= title %>", "feedback_text_<%= title %>", "feedback_icon_<%= title %>");
      
      <% if feedbacks[title] %>
        document.getElementById("feedback_check_<%= title %>").checked = true;
        document.getElementById("feedback_cell_<%= title %>").classList.add("review-toggle__cell");
        document.getElementById("feedback_text_<%= title %>").classList.add("review-toggle__text");
        document.getElementById("feedback_icon_<%= title %>").className = "eui-icon eui-check-o";
      <% end %>
    </script>
  <% end %>

</tr>

