<%= render(partial: 'navbar', locals: {page: "review"}) %>

<div class="toggle_area">
  <!-- bubbles and drop down navigation -->
  <div>
    <div class="bubble_title">
      <p>METADATA INFORMATION</p>
    </div>
    <!-- bubbles -->
    <div class="bubble_title">
      <% @bubble_data.each_with_index do | bubble, index | %>
        <% script_class = bubble[:script] ? "script" : "no_script" %>

        <div class="bubble inline_bubble flag_<%= bubble[:color] %> <%= script_class %>" title="<%= bubble[:field_name] %>">
        </div>
      <% end %>
    </div>
  </div>

  <div class="filter_row">
    <p><strong>FILTERS:</strong></p>
    <!-- slider toggles -->
    <div>
      <div class="filter_switch">
        <p>FLAGGED BY SCRIPT</p>
        <label class="switch">
          <input type="checkbox">
          <div class="slider round"></div>
        </label>
      </div>
      <div class="filter_switch">
        <p>REQUIRES 2ND OPINION</p>
        <label class="switch">
          <input type="checkbox">
          <div class="slider round"></div>
        </label>
      </div>
      <div class="filter_switch">
        <p>NOT CODED</p>
        <label class="switch">
          <input type="checkbox">
          <div class="slider round"></div>
        </label>
      </div>
    </div>


    <div class="filter_dropdown">
      <i class="eui-icon eui-fa-unsorted"></i>
      <p>SAVE AND GO TO:</p> 
      <select class="filter_select">
        
      </select>  
    </div>

  </div>
</div>

<!-- Data/review area -->
<section class="flex_table_container">
  
  <!-- row title information -->
  <div class="flex_table_fixed">
    <table>
      <tr>
        <td>FLAGGED BY SCRIPT</td>
      </tr>
      <tr>
        <td>SCRIPT RESULT</td>
      </tr>
      <tr>
        <td>PREVIOUS VALUE</td>
      </tr>
      <tr>
        <td>
          CURRENT VALUE
        </td>
      </tr>
      <tr>
        <td>
          FLAGS
        </td>
      </tr>
      <tr>
        <td>
          RECOMMENDATION
        </td>
      </tr>
      <tr>
        <td>
          2ND OPINION
        </td>
      </tr>
      <tr>
        <td>
          COLOR CODE
        </td>
      </tr>
      <tr>
        <td>
        DISCUSSION &amp; JUSTIFICATION
        </td>
      </tr>
    </table>    
  </div>

  <!-- horizontal scroll information -->
  <div class="flex_table_details">
    <div style="overflow-x: scroll;">
    <% counter = (0..10).to_a %> 

    <table style="width:2000px;">
      <tr>
        <!-- for each of shown value list, create td for value -->
        <% counter.each do |num| %>
          <td style="width:500px;">TITLE</td>
        <% end %>
      </tr>
      <tr>
        <% counter.each do |num| %>
          <td>TITLE</td>
        <% end %>
      </tr>
      <tr>
        <% counter.each do |num| %>
          <td>TITLE</td>
        <% end %>
      </tr>
      <tr>
        <% counter.each do |num| %>
          <td>TITLE</td>
        <% end %>
      </tr>
      <tr>
        <% counter.each do |num| %>
          <td>TITLE</td>
        <% end %>
      </tr>
      <tr>
        <% counter.each do |num| %>
          <td>TITLE</td>
        <% end %>
      </tr>
      <tr>
        <% counter.each do |num| %>
          <td>TITLE</td>
        <% end %>
      </tr>
      <tr>
        <% counter.each do |num| %>
          <td>TITLE</td>
        <% end %>
      </tr>
      <tr>
        <% counter.each do |num| %>
          <td>TITLE</td>
        <% end %>
      </tr>
    </table>  

    </div>  
  </div>

</section>

<section class="detail_footer">

<%= render(partial: 'legend') %>

</section>