<div style="overflow-x: auto;">

 <%= link_to "Return to Collection Detail Page", collection_path(id: 1, concept_id: @concept_id) %>

 <br><br>

  <table cellpadding="5" border="1">
      <tr>
        <td>Source</td>
          <% @display_list.each do |item| %>
            <td><div class="record_review_text"><%= item[:key] %></div></td>
          <% end %>
      </tr>
      <tr>
        <td>Original Record</td>
          <% @display_list.each do |item| %>
            <td><div class="record_review_text"><%= item[:value] %></div></td>
          <% end %>
      </tr>
      <tr>
        <td>Auto Script</td>
          <% @display_list.each do |item| %>
            <td><div class="record_review_text"><%= item[:script] %></div></td>
          <% end %>
      </tr>


      <% (0...@other_users_comments_count).to_a.each_with_index do |other_user_comment, index| %>
        <tr>
          <td>Other Comments</td>

            <% @display_list.each do |item| %>
              <td><div class="record_review_text"><%= item[("other_user" + index.to_s).to_sym] %></div></td>
            <% end %>
        </tr>
      <% end %>
        
      <tr>
        <td>User Comments</td>
          <% @display_list.each do |item| %>
            <td>
            <textarea style="height: 90px; padding-top:0px" name="user_<%= item[:key] %>" id="user_<%= item[:key] %>" form="comment_form"><%= item[:reviewer] %></textarea>
            </td>
          <% end %>
      </tr>

  </table>

</div>
<br>

<%= form_tag(review_path(id: 1) , {method: "put", id: "comment_form"}) do %>
  <%= hidden_field_tag(:concept_id, params["concept_id"]) %>
  <%= hidden_field_tag(:revision_id, params["revision_id"]) %>
  

<%= submit_tag("Save Comments") %>
<% end %>
