<%= render(partial: 'shared/navigation', locals: {title: "METADATA CURATION: REVIEW"}) %>

<div class="review-page">
  <div class="review_background">
    <%= render(partial: 'navbar', locals: {page: "review", record: @collection_record, user_email: current_user.email}) %>

    <div class="toggle_area">
      <!-- bubbles and drop down navigation -->
      <div>
        <div class="bubble_title">
          <p class="bubble_title_text"><%= @section_title %></p>
        </div>
        <!-- bubbles -->
        <div class="bubble_title">
          <% @bubble_data.each do |bubble| %>
            <div class="bubble inline_bubble flag_<%= bubble[:color] %> <%= script_class(bubble) %> bubbletooltip" title="<%= bubble[:field_name] %>">
              <p class="bubbletooltiptext"><%= split_on_capitals(bubble[:field_name]) %></p>
              <% if current_user.arc? && bubble[:opinion] && bubble[:opinion] != "" %>
                <div class="<%= script_text_class(bubble) %> bubble_opinion">2</div>
              <% elsif bubble[:feedback] %>
                <div class="<%= script_text_class(bubble) %> bubble_opinion">F</div>
              <% else %>
                <div style="visibility: hidden;" class="<%= script_text_class(bubble) %> bubble_opinion">2</div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>

      <!-- Render the filters used to isolate specific review fields. -->
      <%= render partial: 'filters', locals: {record: @record, section_titles: @section_titles} %>

      <div class="clearfix"></div>
    </div>

    <%= react_component("view/MetadataView", {current_user: current_user.id, admin: current_user.admin?, role: current_user.role}) %>
  </div>
</div>
