
<%= render(partial: 'shared/navigation', locals: {title: "REPORTS HOME PAGE"}) %>
<script type="text/javascript">
  document.getElementsByClassName("header_image")[0].style.display = "none";
</script>

<div style="display:flex;">
  <div>




      <table style="width:100%; padding:5px;">
          <tr>
            <td>Total Collections in CMR:</td> 
            <td><%=@cmr_total_collection_count%></td>  
          </tr>
          <tr>
            <td>Total Ingested Collections:</td>
            <td><%=@collection_ingest_count%></td>
          <tr>
            

          </tr>
      </table>

      <br>

      <table style="width:100%; padding:5px;">
          <tr>
            <td>State of Reviews:</td> 
            <td>0 Reviews:</td>  
            <td>1 Review:</td>  
            <td>2+ Reviews:</td>  
            <td>Record Complete:</td>  
          </tr>
          <tr>
            <td>Record Counts</td>
            <td><%= @review_counts.count { |x| x == 0 }%></td>
            <td><%= @review_counts.count { |x| x == 1 }%></td>
            <td><%= (@review_counts.count { |x| x >= 2 }) - @total_completed %></td>
            <td><%= @total_completed %></td>
          <tr>
            

          </tr>
      </table>


      <br>


      <table style="width:100%; padding:5px;">
          <tr>
            <td>Review Velocity:</td> 
            <td>Closed in Last 30 Days:</td>  
            <td>Last 90 Days:</td>  
            <td>Last 180 Days:</td>  
            
          </tr>
            <td>Review Counts</td>
            <td><%= @review_day_counts[0] %></td>
            <td><%= @review_day_counts[1] %></td>
            <td><%= @review_day_counts[2] %></td>
          <tr>
            

          </tr>
      </table>

      <br>

        <table style="width:100%; padding:5px;">
        <tr>
          <td>Stat:</td>
          <td>Original Set:</td>
          <td>Current Set:</td>
        </tr>

          <tr>
            <td>Number of elements checked (total):</td>  
            <td><%=@original_total_checked%></td>
            <td><%=@total_checked%></td>
          </tr>

          <tr>
            <td>Number of elements that passed:</td>  
            <td><%=@original_field_colors["green"]%></td>
            <td><%=@field_colors["green"]%></td>
          </tr>

          <tr>
            <td>Number of elements that failed (data accessibility):</td>  
            <td><%=@original_field_colors["red"]%></td>
            <td><%=@field_colors["red"]%></td>
          </tr>

          <tr>
            <td>Number of elements with warnings issued:</td>  
            <td><%=@original_field_colors["yellow"]%></td>
            <td><%=@field_colors["yellow"]%></td>
          </tr>

          <tr>
            <td>Number of elements with informational notes added:</td>  
            <td><%=@original_field_colors["blue"]%></td>
            <td><%=@field_colors["blue"]%></td>
          </tr>

        </table>


        <br>

      <table style="width:100%; padding:5px;">
        <tr>
          <td>Stat:</td>
          <td>Original Set:</td>
          <td>Current Set:</td>
        </tr>

          <tr>
            <td>Number of elements with Accessibility Flag:</td>  
            <td><%=@original_flag_counts["Accessibility"]%></td>
            <td><%=@flag_counts["Accessibility"]%></td>
          </tr>

          <tr>
            <td>Number of elements with Traceability Flag:</td>  
            <td><%=@original_flag_counts["Traceability"]%></td>
            <td><%=@flag_counts["Traceability"]%></td>
          </tr>

          <tr>
            <td>Number of elements with Usability Flag:</td>  
            <td><%=@original_flag_counts["Usability"]%></td>
            <td><%=@flag_counts["Usability"]%></td>
          </tr>

        </table>

        <br>

      <table style="width:100%; padding:5px;">
        <tr>
          <td>Top 5 Problem Elements</td>
          <td></td>
        </tr>
        <tr>
          <td>Element Name:</td>
          <td>Non Green Count:</td>
        </tr>

        <% @failing_elements_five.each do |column_name, non_green_count|%>
          <tr>
            <td><%=column_name%></td>
            <td><%=non_green_count%></td>
          </tr>
        <%end%>

        </table>

        <br>

        <table style="width:100%; padding:5px;">
          <tr>
            <td>Number of Collections that been updated in CMR after a finished review:</td>  
            <td><%=@updated_count%></td>
          </tr>

          <tr>
            <td>Number of Updated Collection Reviews marked as "Done":</td>  
            <td><%=@updated_done_count%></td>
          </tr>

          <tr>
            <td>Quality of Collection Reviews marked as "Done" (high/low/avg):</td>  
            <td><%=(@original_quality_done_records.inject(0.0) { |sum, el| sum + el } / @original_quality_done_records.size).round(2)%></td>
          </tr>

          <tr>
            <td>Quality of Updated Collection Reviews marked as "Done" (high/low/avg)</td>  
            <td><%=(@quality_done_records.inject(0.0) { |sum, el| sum + el } / @quality_done_records.size).round(2)%></td>
          </tr>

        </table>
  </div>

  <div>

  </div>
</div>