<%= render(partial: 'shared/navigation', locals: {title: "REPORTS HOME PAGE"}) %>

<div class="reports_box">
  <div class="report_top">
    <div class="report_drop_down">
    </div>
    <div class="report_buttons">
      <%= link_to reports_home_path(format: :csv), data: {turbolinks: false}, class: "report_button" do %>
        <p>EXPORT METRICS</p>
        <i class="fa fa-file-excel-o"></i>
      <% end %>
      <a href="#" id="pdf_button" class="report_button">
        <p>PRINT PDF COPY</p>
        <i class="fa fa-file-pdf-o"></i>
      </a>
    </div>
  </div>

  <%= render partial: "section_title", locals: { title: "OVERALL VIEW" } %>

  <div class="stats_area">

    <%# This div grouped to be moved up for the display when printed %>
    <section class="report_overall section_holder">
      <div class="section_title">
        ARC PROGRESS
      </div>

      <%= render "ingest_section" %>

      <br>

      <%= render "velocity_section" %>

      <%= render partial: "update_section", locals: { metric_data: @metric_data } %>

      <%= render "finished_section" %>

      <br>

      <div class="section_break">
      </div>

    </section>
  </div>

</div>

<%= render partial: "data_section", locals: { metric_data: @metric_data, type: "Collection", title: "OVERALL VIEW" } %>

<%= render partial: "data_section", locals: { metric_data: @granule_metric_data, type: "Granule", title: "OVERALL VIEW" } %>
