<p>Reports Home Page</p>

<p>Total Collections in CMR: <%=@cmr_total_collection_count%></p>

<p>Total Ingested Collections: <%=@collection_ingest_count%></p>
<p>Total Collections In Process: <%=Collection.total_in_process%></p>
<p>Total Collections Completed: <%=Collection.total_completed%></p>

<br>
<br>
<br>
<% @record_sets.each do |record_set| %>
  <p>Concept ID: <%=record_set[0].concept_id%></p>
  <%record_set.each do |record| %>
    <div style="display: inline-block;border: solid; padding:5px;">
      <p>RevisionId  - <%= record.revision_id %>: </p>
      <p>Total Fields: <%= record.get_colors.count %></p>
      <p>Blue Fields: <%= record.color_count("blue") %></p>
      <p>Green Fields: <%= record.color_count("green") %></p>
      <p>Yellow Fields: <%= record.color_count("yellow") %></p>
      <p>Red Fields: <%= record.color_count("red") %></p>
    </div>
  <% end %>
  <br>
  <br>
  <p>###############################################</p>
<% end %>