<p>Provider: <%= select_tag(:provider,options_for_select(@provider_select_list, :selected => @daac)) %></p>

<script type="text/javascript">
  var selecter = document.getElementById("provider");
  selecter.onchange = function() {
    if (!(selecter.value == '<%=@provider_select_list[0][0]%>')) {
      document.location = '/reports/provider?daac=' + selecter.value;
    }
  }
</script>

<style type="text/css">
  table td {
    padding: 5px;
  }
</style>

<%if !params["daac"].nil?%>
  <table style="width:80%; padding:5px;">

    <tr>
      <td>Total Collections in DAAC:</td>  
      <td><%=@total_collection_count%></td>
    </tr>  

    <tr>
      <td>Number of Collections ingested into review tool:</td>  
      <td><%=@total_ingested%></td>
    </tr>

    <tr>
      <td>% of Collections that have been ingested into review tool:</td>  
      <td><%=@percent_ingested%>%</td>
    </tr>

    <tr>
      <td>Number of Collection reviews with 0 completed reviews:</td>  
      <td><%= @review_counts.count { |x| x == 0 }%></td>
    </tr>

    <tr>
      <td>Number of Collections reviewed once:</td>  
      <td><%= @review_counts.count { |x| x == 1 }%></td>
    </tr>

    <tr>
      <td>Number of Collections reviewed 2 or more times, but not "Done":</td>  
      <td><%= (@review_counts.count { |x| x >= 2 }) - @total_completed %></td>
    </tr>

    <tr>
      <td>Number of Collection reviews marked as "Done":</td>  
      <td><%= @total_completed %></td>
    </tr>


    <tr>
      <td>Number of fields checked (total):</td>  
      <td><%=@total_checked%></td>
    </tr>

    <tr>
      <td>Number (and %) of fields that passed:</td>  
      <td><%=@field_colors[1]%></td>
      <td><%=(@field_colors[1].to_f / @total_checked * 100).round(2)%>%</td>
    </tr>

    <tr>
      <td>Number (and %) of fields that failed (data accessibility):</td>  
      <td><%=@red_flags["Accessibility"]%></td>
      <td><%=(@red_flags["Accessibility"].to_f / @total_checked * 100).round(2)%>%</td>
    </tr>


    <tr>
      <td>Number (and %) of fields that failed (data usability):</td>  
      <td><%=@red_flags["Traceability"]%></td>
      <td><%=(@red_flags["Traceability"].to_f / @total_checked * 100).round(2)%>%</td>
    </tr>

    <tr>
      <td>Number (and %) of fields that failed (data traceability):</td>  
      <td><%=@red_flags["Usability"]%></td>
      <td><%=(@red_flags["Usability"].to_f / @total_checked * 100).round(2)%>%</td>
    </tr>

    <tr>
      <td>Number (and %) of fields with warnings issued:</td>  
      <td><%=@field_colors[2]%></td>
      <td><%=(@field_colors[2].to_f / @total_checked * 100).round(2)%>%</td>
    </tr>

    <tr>
      <td>Number (and %) of fields with informational notes added:</td>  
      <td><%=@field_colors[0]%></td>
      <td><%=(@field_colors[0].to_f / @total_checked * 100).round(2)%>%</td>
    </tr>


    <tr>
      <td>Number of Collections that been updated in CMR after a finished review:</td>  
      <td><%=@updated_count%></td>
    </tr>

    <tr>
      <td>Number of Updated Collection Reviews marked as "Done":</td>  
      <td><%=@updated_done_count%></td>
    </tr>

    <tr>
      <td>Quality of Collection Reviews marked as "Done" (high/low/avg):</td>  
      <td><%=(@quality_done_records.inject(0.0) { |sum, el| sum + el } / @quality_done_records.size).round(2)%></td>
    </tr>

    <tr>
      <td>Quality of Updated Collection Reviews marked as "Done" (high/low/avg)</td>  
      <td>Np</td>
    </tr>

  </table>
<% end %>