<%= render(partial: 'shared/navigation', locals: {title: "REPORTS HOME PAGE"}) %>

<div class="reports_box">
  <div class="report_top">
    <div class="report_drop_down">
      <p>SELECT METRICS BY DAAC: </p>
      <p><%= select_tag(:provider, options_for_select(select_daac_list, selected: params[:daac])) %></p>

      <script type="text/javascript">
        var selecter = document.getElementById("provider");
        selecter.onchange = function() {
          if (!(selecter.value == '<%= ApplicationHelper::SELECT_DAAC %>')) {
            document.location = '/reports/provider?daac=' + selecter.value;
          }
        }
      </script>
    </div>
    <div class="report_buttons">
      <%= link_to reports_provider_path(format: :csv, daac: params[:daac]), class: "report_button" do %>
        <p>EXPORT METRICS</p>
        <i class="fa fa-file-excel-o"></i>
      <% end %>
      <a href="#" id="pdf_button" class="report_button">
          <p>PRINT PDF COPY</p>
          <i class="fa fa-file-pdf-o"></i>
      </a>
    </div>

    <script type="text/javascript">
      document.getElementById("pdf_button").onclick = function() {
        window.print();
      };
    </script>

  </div>

  <% if @show_charts %>

    <div class="report_sub_title first_sub_title">
      <div class="title_box">
        BY DAAC VIEW
      </div>
    </div>

    <div class="stats_area">

      <%# This div grouped to be moved up for the display when printed %>
      <section class="report_overall section_holder">
        <div class="section_title">
          ARC PROGRESS
        </div>

        <% if @cmr_total_collection_count %>
          <div class="ingest_section">
            <%= render(partial: 'title_bar', locals: {title: "INGESTED COLLECTIONS PROGRESS"}) %>
            <div class="surrounding_box">
              <div class="graph_container">
                <canvas id="ChartIngest"></canvas>
              </div>
            </div>
          </div>

          <br>

        <% end %>

        <div class="update_section">
          <%= render(partial: 'title_bar', locals: {title: "UPDATED COLLECTIONS PROGRESS"}) %>
          <div class="surrounding_box">
            <div class="updates_graph_container">
              <canvas id="ChartUpdate"></canvas>
            </div>
          </div>
        </div>

        <div class="finished_section">
          <%= render(partial: 'title_bar', locals: { title: "FINISHED RECORDS"}) %>
          <div class="surrounding_box">
            <div class="finished_graph_container">
              <canvas id="ChartFinished"></canvas>
            </div>
          </div>
        </div>

        <br>

        <div class="section_break">
        </div>

      </section>
    </div>
  <% end %>
</div>

<div class="reports_box">
  <% if @show_charts %>
    <div class="report_sub_title first_sub_title">
      <div class="title_box">
        BY DAAC VIEW
      </div>
    </div>

    <div class="stats_area">
      <section>
        <div class="section_title">
          COLLECTION METADATA QUALITY
        </div>
      </section>

      <section class="quality_section section_holder">
        <div class="quality_row">
          <div>
            <%= render(partial: 'title_bar', locals: {title: "ORIGINAL REVIEW"}) %>
            <div class="surrounding_box quality_box chart_padding">
              <div class="data_area">
                <div class="data_text">
                  <p>NUMBER OF COLLECTION</p>
                  <p>ELEMENTS REVIEWED</p>
                  <p class="checked_num"><%=@original_metric_set.color_counts.values.sum%></p>
                </div>
                <div class="doughnut_graph_container">
                  <canvas id="ChartFlagOriginal"></canvas>
                </div>
              </div>
              <div class="legend_area" id="original_quality_legend">
                <div class="legend_row">
                  <div class="legend_item first_item">
                    <div class="color_box green">
                    </div>
                    <p>ELEMENTS PASSED <br>(<%=@original_metric_set.color_counts["green"]%>)</p>
                  </div>
                  <div class="legend_item">
                    <div class="color_box yellow">
                    </div>
                    <p>ELEMENTS WITH WARNINGS <br>(<%=@original_metric_set.color_counts["yellow"]%>)</p>
                  </div>
                </div>
                <div class="legend_row">
                  <div class="legend_item first_item">
                    <div class="color_box blue">
                    </div>
                    <p>ELEMENTS NOTED <br>(<%=@original_metric_set.color_counts["blue"]%>)</p>
                  </div>
                  <div class="legend_item">
                    <div class="color_box red">
                    </div>
                    <p>ELEMENTS FAILED <br>(<%=@original_metric_set.color_counts["red"]%>)</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div>
            <%= render(partial: 'title_bar', locals: {title: "CURRENT STATUS"}) %>
            <div class="surrounding_box quality_box chart_padding">
              <div class="data_area">
                <div class="data_text">
                  <p>NUMBER OF COLLECTION</p>
                  <p>ELEMENTS REVIEWED</p>
                  <p class="checked_num"><%=@metric_set.color_counts.values.sum%></p>
                </div>
                <div class="doughnut_graph_container">
                  <canvas id="ChartFlag"></canvas>
                </div>
              </div>
              <div class="legend_area" id="original_quality_legend">
                <div class="legend_row">
                  <div class="legend_item first_item">
                    <div class="color_box green">
                    </div>
                    <p>ELEMENTS PASSED (<%=@metric_set.color_counts["green"]%>)</p>
                  </div>
                  <div class="legend_item">
                    <div class="color_box yellow">
                    </div>
                    <p>ELEMENTS WITH WARNINGS <br>(<%=@metric_set.color_counts["yellow"]%>)</p>
                  </div>
                </div>
                <div class="legend_row">
                  <div class="legend_item first_item">
                    <div class="color_box blue">
                    </div>
                    <p>ELEMENTS NOTED (<%=@metric_set.color_counts["blue"]%>)</p>
                  </div>
                  <div class="legend_item">
                    <div class="color_box red">
                    </div>
                    <p>ELEMENTS FAILED <br>(<%=@metric_set.color_counts["red"]%>)</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <br>

        <div class="problem_section">
              <%= render(partial: 'title_bar', locals: {title: "ELEMENT ERROR FREQUENCY"}) %>
              <div class="surrounding_box">
                <div class="problem_graph_container">
                  <canvas id="ChartErrors"></canvas>
                </div>
              </div>
        </div>

        <br>

      </section>


      <div class="section_break">
      </div>

      <section class="review_section section_holder">
        <div class="sub_section_title">
          REVIEW METRICS
        </div>


        <div class="score_section">

          <div>
            <%= render(partial: 'title_bar', locals: {title: "ORIGINAL COLLECTION AVERAGE QUALITY"}) %>
            <div class="surrounding_box score_box">
              <div class="data_area">
                <div id="ChartGuageOriginal"></div>
              </div>
            </div>
          </div>

          <div>
            <%= render(partial: 'title_bar', locals: {title: "UPDATED COLLECTION AVERAGE QUALITY"}) %>
            <div class="surrounding_box score_box">
              <div class="data_area">
                  <div id="ChartGuageUpdated"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="print_width">

        </div>

      </section>
    </div>
  <% end %>
</div>



<% if @show_charts %>
  <script type="text/javascript">
    <%= render(partial: 'collection_js.js.erb') %>
  </script>
<% end %>



<div class="reports_box">

  <% if @show_charts %>

    <div class="report_sub_title first_sub_title">
      <div class="title_box">
        BY DAAC VIEW
      </div>
    </div>

    <div class="stats_area">

      <%# This div grouped to be moved up for the display when printed %>
      <section>
        <div class="section_title">
          GRANULE METADATA QUALITY
        </div>
      </section>


      <section class="granule_quality_section quality_section section_holder">

        <div class="quality_row">
          <div>
            <%= render(partial: 'title_bar', locals: {title: "ORIGINAL REVIEW"}) %>
            <div class="surrounding_box quality_box chart_padding">
              <div class="data_area">
                <div class="data_text">
                  <p>NUMBER OF GRANULE</p>
                  <p>ELEMENTS REVIEWED</p>
                  <p class="checked_num"><%=@granule_original_metric_set.color_counts.values.sum%></p>
                </div>
                <div class="doughnut_graph_container">
                  <canvas id="GranuleChartFlagOriginal"></canvas>
                </div>
              </div>
              <div class="legend_area" id="original_quality_legend">
                <div class="legend_row">
                  <div class="legend_item first_item">
                    <div class="color_box green">
                    </div>
                    <p>ELEMENTS PASSED <br>(<%=@granule_original_metric_set.color_counts["green"]%>)</p>
                  </div>
                  <div class="legend_item">
                    <div class="color_box yellow">
                    </div>
                    <p>ELEMENTS WITH WARNINGS <br>(<%=@granule_original_metric_set.color_counts["yellow"]%>)</p>
                  </div>
                </div>
                <div class="legend_row">
                  <div class="legend_item first_item">
                    <div class="color_box blue">
                    </div>
                    <p>ELEMENTS NOTED <br>(<%=@granule_original_metric_set.color_counts["blue"]%>)</p>
                  </div>
                  <div class="legend_item">
                    <div class="color_box red">
                    </div>
                    <p>ELEMENTS FAILED <br>(<%=@granule_original_metric_set.color_counts["red"]%>)</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div>
            <%= render(partial: 'title_bar', locals: {title: "CURRENT STATUS"}) %>
            <div class="surrounding_box quality_box chart_padding">
              <div class="data_area">
                <div class="data_text">
                  <p>NUMBER OF GRANULE</p>
                  <p>ELEMENTS REVIEWED</p>
                  <p class="checked_num"><%=@granule_metric_set.color_counts.values.sum%></p>
                </div>
                <div class="doughnut_graph_container">
                  <canvas id="GranuleChartFlag"></canvas>
                </div>
              </div>
              <div class="legend_area" id="original_quality_legend">
                <div class="legend_row">
                  <div class="legend_item first_item">
                    <div class="color_box green">
                    </div>
                    <p>ELEMENTS PASSED (<%=@granule_metric_set.color_counts["green"]%>)</p>
                  </div>
                  <div class="legend_item">
                    <div class="color_box yellow">
                    </div>
                    <p>ELEMENTS WITH WARNINGS <br>(<%=@granule_metric_set.color_counts["yellow"]%>)</p>
                  </div>
                </div>
                <div class="legend_row">
                  <div class="legend_item first_item">
                    <div class="color_box blue">
                    </div>
                    <p>ELEMENTS NOTED (<%=@granule_metric_set.color_counts["blue"]%>)</p>
                  </div>
                  <div class="legend_item">
                    <div class="color_box red">
                    </div>
                    <p>ELEMENTS FAILED <br>(<%=@granule_metric_set.color_counts["red"]%>)</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <br>

        <div class="problem_section">
              <%= render(partial: 'title_bar', locals: {title: "ELEMENT ERROR FREQUENCY"}) %>
              <div class="surrounding_box">
                <div class="problem_graph_container">
                  <canvas id="GranuleChartErrors"></canvas>
                </div>
              </div>
        </div>

        <br>

      </section>


      <div class="section_break">
      </div>

      <section class="review_section section_holder">
        <div class="sub_section_title">
          REVIEW METRICS
        </div>


        <div class="score_section">

          <div>
            <%= render(partial: 'title_bar', locals: {title: "ORIGINAL GRANULE AVERAGE QUALITY"}) %>
            <div class="surrounding_box score_box">
              <div class="data_area">
                <div id="GranuleChartGuageOriginal"></div>
              </div>
            </div>
          </div>

          <div>
            <%= render(partial: 'title_bar', locals: {title: "UPDATED GRANULE AVERAGE QUALITY"}) %>
            <div class="surrounding_box score_box">
              <div class="data_area">
                  <div id="GranuleChartGuageUpdated"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="print_width">

        </div>

      </section>
    </div>
  <% end %>
</div>


<% if @show_charts %>
  <script type="text/javascript">
    <%= render(partial: 'granule_js.js.erb') %>
  </script>
<% end %>

