<!DOCTYPE html>
<html>
<head>
  <base href="/">
  <title>CmrDashboard</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" media="all" href="/<%= (@assets_container || $assets_container)['app']['css'] %>" data-turbolinks-track="true">
  <link href="https://file.myfontastic.com/Jnf54BZCm7mSjGCxNRbfp3/icons.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/angular2-data-table/release/datatable.css" />
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/angular2-data-table/release/material.css" />
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class='content'>
  <%= yield %>
</body>
<% ['common', 'vendor', 'polyfills', 'app'].each do |js_libs| %>
  <%= path_to_assets(js_libs) %>
<% end %>

</html>
